In [150]:
import pandas as pd
import numpy as np

# load Billionaires mapping list

This is a list of id mappings between Forbes and Hurun

In [151]:
# all_ids_v1 = pd.read_csv('../source/billionaires list - eo_final.csv', na_values=['', 'n/a'])
all_ids = pd.read_csv('../source/GM-Billionaires_list-v2 - eo_final.csv', na_values=['', 'n/a'])

In [152]:
all_ids = all_ids.iloc[:, :3]

In [153]:
# all_ids_v1[all_ids_v1['Unique Gapminder ID'].duplicated(keep=False)]

In [154]:
# all_ids_v1.shape

In [155]:
all_ids.shape

(6053, 3)

In [156]:
all_ids.drop_duplicates()

      Unique Gapminder ID            Forbes_id            Hurun_id
0      abdulla_al_futtaim   abdulla_al_futtaim  abdulla_al_futtaim
1       abdullah_al_rajhi    abdullah_al_rajhi   abdullah_al_rajhi
2        abdulsamad_rabiu     abdulsamad_rabiu    abdulsamad_rabiu
3               abhay_soi            abhay_soi           abhay_soi
4             abhay_vakil          abhay_vakil         abhay_vakil
...                   ...                  ...                 ...
6048         zhu_chongyun         zhu_chongyun                 NaN
6049           zhu_qingyi           zhu_qingyi                 NaN
6050              zhu_yan              zhu_yan                 NaN
6051        ziyad_manasir        ziyad_manasir                 NaN
6052  ziyavudin_magomedov  ziyavudin_magomedov                 NaN

[6053 rows x 3 columns]

In [157]:
all_ids = all_ids.dropna(axis=0, how='all').drop_duplicates()

In [158]:
all_ids.columns = ['gm_id', 'forbes_id', 'hurun_id']

# Create Datapoints


1. convert indicators to use gm id
2. merge indicators from forbes and hurun


for some of forbes records, we need to split them into multiple records (i.e. forbes has entity as a group of people, but hurun have separated record for each person in list)
so we should first divide forbes mapping into 2 parts.

In [159]:
# how to calculate the indicator required by income mountain:
# income by person, year -> income by person, geo, year -> income_level by person, geo, year
# -> population by income_level, geo, year

In [160]:
fm = all_ids[['forbes_id', 'gm_id']].dropna(how='any')

fm1 = fm[fm['forbes_id'].duplicated(keep=False)]  # these ones need to be split to mulitple people.
fm2 = fm[~fm['forbes_id'].duplicated(keep=False)]

In [161]:
fm1

                               forbes_id               gm_id
2950  chuchat_petaumpai_daonapa_petampai    daonapa_petampai
3112             lee_yeow_chor_yeow_seng       lee_yeow_chor
3230                               safra        joseph_safra
3277                  udo_harald_tschira         udo_tschira
3278                vinod_anil_rai_gupta         vinod_gupta
3301               willi_isolde_liebherr      willi_liebherr
3424                vinod_anil_rai_gupta      anil_rai_gupta
3532                               safra  chelia_cohen_safra
3602  chuchat_petaumpai_daonapa_petampai   chuchat_petaumpai
3625                               safra       david_j_safra
3698                               safra        esther_safra
3816                  udo_harald_tschira      harald_tschira
3917               willi_isolde_liebherr     isolde_liebherr
3924                               safra       jacob_j_safra
4076                                kwee     kwee_liong_keng
4077                                kwee    kwee_liong_phing
4078                                kwee     kwee_liong_seen
4079                                kwee      kwee_liong_tek
4099             lee_yeow_chor_yeow_seng       lee_yeow_seng
5618                                kwee                kwee

In [162]:
fm1.sort_values(by='gm_id')

                               forbes_id               gm_id
3424                vinod_anil_rai_gupta      anil_rai_gupta
3532                               safra  chelia_cohen_safra
3602  chuchat_petaumpai_daonapa_petampai   chuchat_petaumpai
2950  chuchat_petaumpai_daonapa_petampai    daonapa_petampai
3625                               safra       david_j_safra
3698                               safra        esther_safra
3816                  udo_harald_tschira      harald_tschira
3917               willi_isolde_liebherr     isolde_liebherr
3924                               safra       jacob_j_safra
3230                               safra        joseph_safra
5618                                kwee                kwee
4076                                kwee     kwee_liong_keng
4077                                kwee    kwee_liong_phing
4078                                kwee     kwee_liong_seen
4079                                kwee      kwee_liong_tek
3112             lee_yeow_chor_yeow_seng       lee_yeow_chor
4099             lee_yeow_chor_yeow_seng       lee_yeow_seng
3277                  udo_harald_tschira         udo_tschira
3278                vinod_anil_rai_gupta         vinod_gupta
3301               willi_isolde_liebherr      willi_liebherr

In [163]:
# 1. convert forbes datapoints to use gm_id
# 1.1 split groups

In [164]:
forbes_dps = pd.read_csv('../intermediate/forbes/ddf--datapoints--annual_income--by--person--year.csv')

In [165]:
forbes_dps

                    person  year  annual_income
0           a_jayson_adair  2021     30000000.0
1           a_jayson_adair  2022     33000000.0
2      a_jerrold_perenchio  2002     78000000.0
3      a_jerrold_perenchio  2003     69000000.0
4      a_jerrold_perenchio  2004     81000000.0
...                    ...   ...            ...
28720   zygmunt_solorz_zak  2018     84000000.0
28721   zygmunt_solorz_zak  2019     81000000.0
28722   zygmunt_solorz_zak  2020     72000000.0
28723   zygmunt_solorz_zak  2021     96000000.0
28724   zygmunt_solorz_zak  2022     87000000.0

[28725 rows x 3 columns]

In [166]:
fb1 = forbes_dps[forbes_dps.person.isin(fm1.forbes_id.unique())].copy()
fb2 = forbes_dps[~forbes_dps.person.isin(fm1.forbes_id.unique())].copy()

In [167]:
forbes_dps.shape

(28725, 3)

In [168]:
fb1.shape[0] + fb2.shape[0]

28725

In [169]:
fm1g = fm1.groupby('forbes_id')['gm_id']

In [170]:
fm1g.get_group('kwee')

4076     kwee_liong_keng
4077    kwee_liong_phing
4078     kwee_liong_seen
4079      kwee_liong_tek
5618                kwee
Name: gm_id, dtype: object

In [171]:
fb1g = fb1.groupby('person')

In [172]:
fb1g.get_group('lee_yeow_chor_yeow_seng')

                        person  year  annual_income
14795  lee_yeow_chor_yeow_seng  2020    108000000.0
14796  lee_yeow_chor_yeow_seng  2021    153000000.0

In [173]:
def create_rec(df, names):
    """split the record by names evenly. create dataframe which row number equal to number of names."""
    recs = list()
    ser = df.set_index('year')['annual_income']
    num = len(names)
    
    for y in ser.index:
        income = int(ser.loc[y] / num)
        for n in names:
            rec = dict(person=n, year=y, annual_income=income)
            recs.append(rec)
    return pd.DataFrame.from_records(recs)

In [174]:
fm1g.get_group('lee_yeow_chor_yeow_seng').values

array(['lee_yeow_chor', 'lee_yeow_seng'], dtype=object)

In [175]:
fb3dfs = list()

for g, df in fb1g:
    new_df = create_rec(df, fm1g.get_group(g).values)
    fb3dfs.append(new_df)

In [176]:
fb3 = pd.concat(fb3dfs, ignore_index=True)

In [177]:
fb3

                person  year  annual_income
0     daonapa_petampai  2018       30000000
1    chuchat_petaumpai  2018       30000000
2     daonapa_petampai  2019       36000000
3    chuchat_petaumpai  2019       36000000
4     daonapa_petampai  2021       52500000
..                 ...   ...            ...
109    isolde_liebherr  2016       75000000
110     willi_liebherr  2017       72000000
111    isolde_liebherr  2017       72000000
112     willi_liebherr  2018      106500000
113    isolde_liebherr  2018      106500000

[114 rows x 3 columns]

In [178]:
fb3[fb3['person'].isin(['lee_yeow_chor', 'lee_yeow_seng'])]

           person  year  annual_income
58  lee_yeow_chor  2020       54000000
59  lee_yeow_seng  2020       54000000
60  lee_yeow_chor  2021       76500000
61  lee_yeow_seng  2021       76500000

In [179]:
# 1.2 convert remaining records to use gm id

In [180]:
np.any(fm2.set_index('forbes_id')['gm_id'].index.duplicated())  # Should be false.

False

In [181]:
fb2_map = fm2.set_index('forbes_id')['gm_id'].to_dict()

In [182]:
# NOTE: if below failed, then there are not existing entries, we should exam what happened

fb2['gm_id'] = fb2['person'].map(lambda x: fb2_map[x])

In [183]:
forbes_dps[forbes_dps['person'] == 'xiangdong_qi']  # should be non empty dataframe

             person  year  annual_income
27503  xiangdong_qi  2022     63000000.0

In [184]:
def _f(x):
    if x not in fb2_map:
        print(x)
        return None
    return fb2_map[x]
_ = fb2['person'].map(_f)

In [185]:
fb2

                    person  year  annual_income                gm_id
0           a_jayson_adair  2021     30000000.0       a_jayson_adair
1           a_jayson_adair  2022     33000000.0       a_jayson_adair
2      a_jerrold_perenchio  2002     78000000.0  a_jerrold_perenchio
3      a_jerrold_perenchio  2003     69000000.0  a_jerrold_perenchio
4      a_jerrold_perenchio  2004     81000000.0  a_jerrold_perenchio
...                    ...   ...            ...                  ...
28720   zygmunt_solorz_zak  2018     84000000.0   zygmunt_solorz_zak
28721   zygmunt_solorz_zak  2019     81000000.0   zygmunt_solorz_zak
28722   zygmunt_solorz_zak  2020     72000000.0   zygmunt_solorz_zak
28723   zygmunt_solorz_zak  2021     96000000.0   zygmunt_solorz_zak
28724   zygmunt_solorz_zak  2022     87000000.0   zygmunt_solorz_zak

[28686 rows x 4 columns]

In [186]:
fb2[pd.isnull(fb2.gm_id)]['person'].unique()

array([], dtype=object)

In [187]:
fb4 = fb2[['gm_id', 'year', 'annual_income']].copy()
# uncomment to drop all unknown entities
# fb4 = fb4.dropna(how='any')
fb4.columns = ['person', 'year', 'annual_income']

In [188]:
fb_final = pd.concat([fb4, fb3], ignore_index=True).sort_values(by=['person', 'year'])

In [189]:
fb_final

                    person  year  annual_income
0           a_jayson_adair  2021     30000000.0
1           a_jayson_adair  2022     33000000.0
2      a_jerrold_perenchio  2002     78000000.0
3      a_jerrold_perenchio  2003     69000000.0
4      a_jerrold_perenchio  2004     81000000.0
...                    ...   ...            ...
28681   zygmunt_solorz_zak  2018     84000000.0
28682   zygmunt_solorz_zak  2019     81000000.0
28683   zygmunt_solorz_zak  2020     72000000.0
28684   zygmunt_solorz_zak  2021     96000000.0
28685   zygmunt_solorz_zak  2022     87000000.0

[28800 rows x 3 columns]

In [190]:
fb_final[fb_final['person'] == 'adam_neumann']

           person  year  annual_income
153  adam_neumann  2016     45000000.0
154  adam_neumann  2017     75000000.0
155  adam_neumann  2018     75000000.0
156  adam_neumann  2019    123000000.0
157  adam_neumann  2022     42000000.0

In [191]:
# done for forbes datapoints

In [192]:
# now convert hurun data to use gm_id

In [193]:
hurun_dps = pd.read_csv('../intermediate/hurun/ddf--datapoints--annual_income--by--person--year.csv')

In [194]:
hurun_dps

                         person  year  annual_income
0      abdulla_ahmed_al_ghurair  2017     39000000.0
1      abdulla_ahmed_al_ghurair  2018     39000000.0
2      abdulla_ahmed_al_ghurair  2019     36000000.0
3      abdulla_ahmed_al_ghurair  2020     36000000.0
4      abdulla_ahmed_al_ghurair  2021     36000000.0
...                         ...   ...            ...
17977        zygmunt_solorz_zak  2018     90000000.0
17978        zygmunt_solorz_zak  2019     78000000.0
17979        zygmunt_solorz_zak  2020     84000000.0
17980        zygmunt_solorz_zak  2021     96000000.0
17981        zygmunt_solorz_zak  2022     96000000.0

[17982 rows x 3 columns]

In [195]:
hr = hurun_dps.copy()

In [196]:
hr_map = all_ids[['hurun_id', 'gm_id']].dropna(how='any').set_index('hurun_id')['gm_id'].to_dict()

In [197]:
# if this failed, we should check which ones are missing.

hr['gm_id'] = hr['person'].map(lambda x: hr_map[x])

In [198]:
hr[hr['person'] == 'zhuo_jun']

         person  year  annual_income       gm_id
17920  zhuo_jun  2017     30000000.0  zhuo_jun_1
17921  zhuo_jun  2018     39000000.0  zhuo_jun_1
17922  zhuo_jun  2019     33000000.0  zhuo_jun_1
17923  zhuo_jun  2020     51000000.0  zhuo_jun_1
17924  zhuo_jun  2021     45000000.0  zhuo_jun_1
17925  zhuo_jun  2022     51000000.0  zhuo_jun_1

In [199]:
def _f(x):
    if x not in hr_map:
        print(x)
        return None
    return hr_map[x]
_ = hr['person'].map(_f)

In [200]:
len(hr[pd.isnull(hr.gm_id)]['person'].unique())  # dropped records.

0

In [201]:
len(hr.person.unique())  # total records

5028

In [202]:
hr2 = hr[['gm_id', 'year', 'annual_income']].dropna()

In [203]:
hr2

                              gm_id  year  annual_income
0      abdulla_bin_ahmad_al_ghurair  2017     39000000.0
1      abdulla_bin_ahmad_al_ghurair  2018     39000000.0
2      abdulla_bin_ahmad_al_ghurair  2019     36000000.0
3      abdulla_bin_ahmad_al_ghurair  2020     36000000.0
4      abdulla_bin_ahmad_al_ghurair  2021     36000000.0
...                             ...   ...            ...
17977            zygmunt_solorz_zak  2018     90000000.0
17978            zygmunt_solorz_zak  2019     78000000.0
17979            zygmunt_solorz_zak  2020     84000000.0
17980            zygmunt_solorz_zak  2021     96000000.0
17981            zygmunt_solorz_zak  2022     96000000.0

[17982 rows x 3 columns]

In [204]:
hr2.columns = ['person', 'year', 'annual_income']

In [205]:
hr2[hr2['person'] == 'adam_neuman']

         person  year  annual_income
66  adam_neuman  2017     78000000.0
67  adam_neuman  2018     96000000.0

In [206]:
# in hurun list, there are many entities without an country property. let's drop them

In [207]:
hurun_ent = pd.read_csv('../intermediate/hurun/ddf--entities--person.csv')

In [208]:
hurun_ent.columns

Index(['person', 'name', 'birth', 'birth_1', 'birth_2', 'birth_3', 'age',
       'sex', 'permanent_country', 'industry', 'company', 'country', 'geo',
       'birth_comb'],
      dtype='object')

In [209]:
hascountry = ~pd.isnull(hurun_ent['geo'])

ppl_hascountry = hurun_ent[hascountry]['person'].values

In [210]:
hr3 = hr2[hr2['person'].isin(ppl_hascountry)]

In [211]:
hr3

                   person  year  annual_income
6      abdulla_al_futtaim  2017     93000000.0
7      abdulla_al_futtaim  2018     93000000.0
8      abdulla_al_futtaim  2019     93000000.0
9      abdulla_al_futtaim  2020     36000000.0
10     abdulla_al_futtaim  2021     45000000.0
...                   ...   ...            ...
17977  zygmunt_solorz_zak  2018     90000000.0
17978  zygmunt_solorz_zak  2019     78000000.0
17979  zygmunt_solorz_zak  2020     84000000.0
17980  zygmunt_solorz_zak  2021     96000000.0
17981  zygmunt_solorz_zak  2022     96000000.0

[14234 rows x 3 columns]

In [212]:
# done with hurun data

In [213]:
# now, concat all values, drop duplicated

In [214]:
d1 = fb_final.copy()
d1['source'] = 'forbes'

d2 = hr3.copy()
d2['source'] = 'hurun'

dps = pd.concat([d1, d2], ignore_index=True)

In [215]:
dps[dps.duplicated(subset=['person', 'year'], keep=False)]

                   person  year  annual_income  source
43     abdulla_al_futtaim  2017    123000000.0  forbes
44     abdulla_al_futtaim  2018     99000000.0  forbes
45     abdulla_al_futtaim  2019     75000000.0  forbes
46     abdulla_al_futtaim  2020     63000000.0  forbes
47     abdulla_al_futtaim  2021     66000000.0  forbes
...                   ...   ...            ...     ...
43029  zygmunt_solorz_zak  2018     90000000.0   hurun
43030  zygmunt_solorz_zak  2019     78000000.0   hurun
43031  zygmunt_solorz_zak  2020     84000000.0   hurun
43032  zygmunt_solorz_zak  2021     96000000.0   hurun
43033  zygmunt_solorz_zak  2022     96000000.0   hurun

[18406 rows x 4 columns]

In [216]:
# let's see how different are they
dpsg = dps.groupby(['person'])

In [217]:
dpsg.get_group('mark_zuckerberg').sort_values(by=['year', 'source'])   ## TODO: maybe check more people

                person  year  annual_income  source
16995  mark_zuckerberg  2008   4.500000e+07  forbes
16996  mark_zuckerberg  2010   1.200000e+08  forbes
16997  mark_zuckerberg  2011   4.050000e+08  forbes
16998  mark_zuckerberg  2012   5.250000e+08  forbes
36886  mark_zuckerberg  2012   7.800000e+08   hurun
16999  mark_zuckerberg  2013   3.990000e+08  forbes
36887  mark_zuckerberg  2013   5.100000e+08   hurun
17000  mark_zuckerberg  2014   8.550000e+08  forbes
36888  mark_zuckerberg  2014   9.300000e+08   hurun
17001  mark_zuckerberg  2015   1.002000e+09  forbes
36889  mark_zuckerberg  2015   1.320000e+09   hurun
17002  mark_zuckerberg  2016   1.338000e+09  forbes
36890  mark_zuckerberg  2016   1.410000e+09   hurun
17003  mark_zuckerberg  2017   1.680000e+09  forbes
36891  mark_zuckerberg  2017   1.740000e+09   hurun
17004  mark_zuckerberg  2018   2.130000e+09  forbes
36892  mark_zuckerberg  2018   2.370000e+09   hurun
17005  mark_zuckerberg  2019   1.869000e+09  forbes
36893  mark_zuckerberg  2019   2.400000e+09   hurun
17006  mark_zuckerberg  2020   1.641000e+09  forbes
36894  mark_zuckerberg  2020   2.520000e+09   hurun
17007  mark_zuckerberg  2021   2.910000e+09  forbes
36895  mark_zuckerberg  2021   3.030000e+09   hurun
17008  mark_zuckerberg  2022   2.019000e+09  forbes
36896  mark_zuckerberg  2022   2.280000e+09   hurun

In [218]:
# But I am going to use Forbes data for these duplicated people for now.

In [219]:
def keep_one_source(df):
    if len(df['source'].unique()) == 2:
        df_new = df[df['source'] == 'forbes'][['person', 'year', 'annual_income']].set_index(['person', 'year'])
    else:
        df_new = df[['person', 'year', 'annual_income']].set_index(['person', 'year'])
    return df_new

In [220]:
keep_one_source(dpsg.get_group('mark_zuckerberg'))

                      annual_income
person          year
mark_zuckerberg 2008   4.500000e+07
                2010   1.200000e+08
                2011   4.050000e+08
                2012   5.250000e+08
                2013   3.990000e+08
                2014   8.550000e+08
                2015   1.002000e+09
                2016   1.338000e+09
                2017   1.680000e+09
                2018   2.130000e+09
                2019   1.869000e+09
                2020   1.641000e+09
                2021   2.910000e+09
                2022   2.019000e+09

In [221]:
dps2 = dpsg.apply(keep_one_source)

In [222]:
dps2

                                              annual_income
person              person              year
a_jayson_adair      a_jayson_adair      2021     30000000.0
                                        2022     33000000.0
a_jerrold_perenchio a_jerrold_perenchio 2002     78000000.0
                                        2003     69000000.0
                                        2004     81000000.0
...                                                     ...
zygmunt_solorz_zak  zygmunt_solorz_zak  2018     84000000.0
                                        2019     81000000.0
                                        2020     72000000.0
                                        2021     96000000.0
                                        2022     87000000.0

[32436 rows x 1 columns]

In [223]:
dps2 = dps2.reset_index(0, drop=True)

In [224]:
dps2

                          annual_income
person              year
a_jayson_adair      2021     30000000.0
                    2022     33000000.0
a_jerrold_perenchio 2002     78000000.0
                    2003     69000000.0
                    2004     81000000.0
...                                 ...
zygmunt_solorz_zak  2018     84000000.0
                    2019     81000000.0
                    2020     72000000.0
                    2021     96000000.0
                    2022     87000000.0

[32436 rows x 1 columns]

In [225]:
dps2['annual_income'] = dps2['annual_income'].astype(int)

In [226]:
dps2 = dps2.reset_index()

In [227]:
dps2.columns = ['person', 'time', 'annual_income']

In [228]:
dps2.to_csv('../../ddf--datapoints--annual_income--by--person--time.csv', index=False)

In [229]:
dps2

                    person  time  annual_income
0           a_jayson_adair  2021       30000000
1           a_jayson_adair  2022       33000000
2      a_jerrold_perenchio  2002       78000000
3      a_jerrold_perenchio  2003       69000000
4      a_jerrold_perenchio  2004       81000000
...                    ...   ...            ...
32431   zygmunt_solorz_zak  2018       84000000
32432   zygmunt_solorz_zak  2019       81000000
32433   zygmunt_solorz_zak  2020       72000000
32434   zygmunt_solorz_zak  2021       96000000
32435   zygmunt_solorz_zak  2022       87000000

[32436 rows x 3 columns]

In [230]:
# now get the daily income 
# FIXME: should start from worth, then annual_income/daily_income

In [231]:
dps3 = dps2.copy()

In [232]:
dps3.columns = ['person', 'time', 'daily_income']

In [233]:
dps3['daily_income'] = (dps3['daily_income'] / 365).astype(int)

In [234]:
dps3.to_csv('../../ddf--datapoints--daily_income--by--person--time.csv', index=False)

In [87]:
# 2. combine the entities

In [235]:
# For forbes list, we should also take care of entity spliting.

In [236]:
forbes_ent = pd.read_csv('../intermediate/forbes/ddf--entities--person.csv')

In [237]:
forbes_ent

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media,a-jerrold-perenchio; no-pic,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4214,zong_yanmin,Zong Yanmin,China,NaN,NaN,Semiconductor materials,Manufacturing,no-pic,NaN,M,Zong
4215,zugen_ni,Zugen Ni,China,Jiangsu,NaN,appliances,Manufacturing,no-pic,65.0,M,Ni
4216,zuo_hui,Zuo Hui,China,NaN,NaN,real estate services,Real Estate,no-pic,51.0,M,Zuo
4217,zuowen_song,Zuowen Song,China,NaN,NaN,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song
4218,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak

In [238]:
fbent1 = forbes_ent[forbes_ent.person.isin(fm1.forbes_id.unique())].copy()
fbent2 = forbes_ent[~forbes_ent.person.isin(fm1.forbes_id.unique())].copy()

In [239]:
fbent2

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media,a-jerrold-perenchio; no-pic,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4214,zong_yanmin,Zong Yanmin,China,NaN,NaN,Semiconductor materials,Manufacturing,no-pic,NaN,M,Zong
4215,zugen_ni,Zugen Ni,China,Jiangsu,NaN,appliances,Manufacturing,no-pic,65.0,M,Ni
4216,zuo_hui,Zuo Hui,China,NaN,NaN,real estate services,Real Estate,no-pic,51.0,M,Zuo
4217,zuowen_song,Zuowen Song,China,NaN,NaN,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song
4218,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak

In [240]:
fbent2.columns

Index(['person', 'name', 'country', 'state', 'headquarters', 'source',
       'industry', 'image_uri', 'age', 'gender', 'last_name'],
      dtype='object')

In [241]:
cols_rec = ['country', 'state', 'headquarters', 'source', 'industry', 'last_name']

In [242]:
def create_entrec():
    res = []
    
    for _, row in fbent1.iterrows():
        name = row['person']
        newnames = fm1g.get_group(name)
        rec = dict([(c, row[c]) for c in cols_rec])
        for n in newnames:
            rec_ = rec.copy()
            rec_['person'] = n
            res.append(rec_)
            
    return pd.DataFrame.from_records(res)

In [243]:
create_entrec()

,country,state,headquarters,source,industry,last_name,person
0,Thailand,NaN,NaN,motorcycle loans,Finance & Investments; Finance and Investments,Chuchat Petaumpai &,daonapa_petampai
1,Thailand,NaN,NaN,motorcycle loans,Finance & Investments; Finance and Investments,Chuchat Petaumpai &,chuchat_petaumpai
2,Singapore,NaN,NaN,Real Estate; Pontiac Land Group; real estate,Real Estate,Kwee,kwee_liong_keng
3,Singapore,NaN,NaN,Real Estate; Pontiac Land Group; real estate,Real Estate,Kwee,kwee_liong_phing
4,Singapore,NaN,NaN,Real Estate; Pontiac Land Group; real estate,Real Estate,Kwee,kwee_liong_seen
5,Singapore,NaN,NaN,Real Estate; Pontiac Land Group; real estate,Real Estate,Kwee,kwee_liong_tek
6,Singapore,NaN,NaN,Real Estate; Pontiac Land Group; real estate,Real Estate,Kwee,kwee
7,Malaysia,NaN,NaN,"palm oil, property",Food & Beverage,Lee,lee_yeow_chor
8,Malaysia,NaN,NaN,"palm oil, property",Food & Beverage,Lee,lee_yeow_seng
9,Brazil,NaN,NaN,banking,Finance & Investments,Safra,joseph_safra
10,Brazil,NaN,NaN,banking,Finance & Investments,Safra,chelia_cohen_safra
11,Brazil,NaN,NaN,banking,Finance & Investments,Safra,david_j_safra
12,Brazil,NaN,NaN,banking,Finance & Investments,Safra,esther_safra
13,Brazil,NaN,NaN,banking,Finance & Investments,Safra,jacob_j_safra
14,Germany,NaN,NaN,software; Software,Technology,Tschira,udo_tschira
15,Germany,NaN,NaN,software; Software,Technology,Tschira,harald_tschira
16,India,NaN,NaN,electrical equipment,Manufacturing,Gupta,vinod_gupta
17,India,NaN,NaN,electrical equipment,Manufacturing,Gupta,anil_rai_gupta
18,Switzerland,NaN,NaN,Construction; construction,Construction & Engineering,Liebherr,willi_liebherr
19,Switzerland,NaN,NaN,Construction; construction,Construction & Engineering,Liebherr,isolde_liebherr

In [244]:
fbent3 = create_entrec()

In [245]:
fbent4 = fbent2.copy()

In [246]:
len(fm2)

4217

In [247]:
fm2_mapping = fm2.set_index('forbes_id')['gm_id'].to_dict()

In [248]:
def _f(x):
    if x in fm2_mapping:
        return fm2_mapping[x]
    print(x)
    return None

fbent4['gm_id'] = fbent4['person'].map(_f)

In [249]:
fbent4[pd.isnull(fbent4.gm_id)]

Empty DataFrame
Columns: [person, name, country, state, headquarters, source, industry, image_uri, age, gender, last_name, gm_id]
Index: []

In [250]:
fbent4 = fbent4[~pd.isnull(fbent4.gm_id)]
fbent4 = fbent4.set_index(['gm_id']).drop(columns=['person'])
fbent4.index.name = 'person'
fbent4 = fbent4.reset_index()

In [251]:
fbent4

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media,a-jerrold-perenchio; no-pic,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4207,zong_yanmin,Zong Yanmin,China,NaN,NaN,Semiconductor materials,Manufacturing,no-pic,NaN,M,Zong
4208,zugen_ni,Zugen Ni,China,Jiangsu,NaN,appliances,Manufacturing,no-pic,65.0,M,Ni
4209,zuo_hui,Zuo Hui,China,NaN,NaN,real estate services,Real Estate,no-pic,51.0,M,Zuo
4210,zuowen_song,Zuowen Song,China,NaN,NaN,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song
4211,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak

In [252]:
fbent_final = pd.concat([fbent4, fbent3], ignore_index=True)

In [253]:
fbent_final

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media,a-jerrold-perenchio; no-pic,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4227,harald_tschira,NaN,Germany,NaN,NaN,software; Software,Technology,NaN,NaN,NaN,Tschira
4228,vinod_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta
4229,anil_rai_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta
4230,willi_liebherr,NaN,Switzerland,NaN,NaN,Construction; construction,Construction & Engineering,NaN,NaN,NaN,Liebherr
4231,isolde_liebherr,NaN,Switzerland,NaN,NaN,Construction; construction,Construction & Engineering,NaN,NaN,NaN,Liebherr

In [254]:
fbent_final[fbent_final.country.str.contains(';')].shape

(52, 11)

In [255]:
fbent_final[fbent_final.country.str.contains(';')]['country'].values

array(['United States; Colombia', 'Israel; Kazakhstan', 'India; Thailand',
       'Germany; United States', 'Czechia; Czech Republic',
       'Lebanon; Saudi Arabia', 'Lebanon; Switzerland', 'Georgia; Russia',
       'Canada; China', 'Hong Kong; China', 'Hong Kong; China',
       'Czechia; Czech Republic', 'Brazil; United States',
       'United States; Russia', 'Switzerland; Germany',
       'Switzerland; Germany', 'Macau; Macao', 'Hong Kong; China',
       'Israel; Russia', 'Switzerland; Australia', 'Singapore; Taiwan',
       'United States; Canada', 'Cyprus; Norway',
       'Czechia; Czech Republic', 'China; Hong Kong', 'Singapore; China',
       'Monaco; Brazil', 'United States; China',
       'Czechia; Czech Republic', 'United States; South Korea',
       'Eswatini (Swaziland); Swaziland', 'China; Hong Kong',
       'Ireland; India', 'Belgium; Kazakhstan', 'Czechia; Czech Republic',
       'Czechia; Czech Republic', 'Czechia; Czech Republic',
       'Czechia; Czech Republic', 'Austria; France',
       'United Kingdom; Canada', 'Lebanon; Saudi Arabia',
       'Hong Kong; China', 'Monaco; Italy', 'Cyprus; Greece',
       'Cyprus; India', 'Canada; United Kingdom', 'Ukraine; Russia',
       'United States; Russia', 'Germany; Russia', 'Hong Kong; China',
       'Israel; Russia', 'China; Hong Kong'], dtype=object)

In [256]:
# TODO: double check those reported with in different countries within etl notebook for forbes

In [257]:
hurun_ent = pd.read_csv('../intermediate/hurun/ddf--entities--person.csv')

In [258]:
hurun_map = all_ids[['hurun_id', 'gm_id']].dropna(how='any').set_index('hurun_id')['gm_id'].to_dict()

In [259]:
hurun_ent

,person,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb
0,abdulla_ahmed_al_ghurair,Abdulla Ahmed Al Ghurair;Abdulla Ahmed Al Ghur...,NaN,NaN,1955;1956,NaN,NaN,Male,United Arab Emirates-Dubai,Banking,Mashreq Bank,United Arab Emirates,are,1955.0
1,abdulla_al_futtaim,Abdulla Al Futtaim,NaN,NaN,NaN,NaN,NaN,Male,United Arab Emirates-Dubai,Automobile Distribution;Automobiles & Componen...,Al Futtaim,United Arab Emirates,are,NaN
2,abdullah_al_rajhi,Abdullah Al Rajhi,NaN,NaN,NaN,NaN,NaN,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking And Investment,Saudi Arabia,sau,NaN
3,abdullah_bin_sulaiman_al_rajhi,Abdullah bin Sulaiman Al Rajhi,1929-01-01,1929.0,NaN,NaN,93.0,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking & Investment;Al Rajhi Banking...,Saudi Arabia,sau,1929.0
4,abdulsamad_rabiu,Abdulsamad Rabiu,1960-08-04,1960.0,1960;1950,NaN,62.0,Male,Nigeria-Lagos,Construction Materials;Conglomerate;Multi Bran...,BUA;Bua,Nigeria,nga,1960.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5023,zuo_xiaoping,Zuo Xiaoping,1973-01-01,1973.0,NaN,NaN,49.0,Female,China-Guangdong-Foshan,Construction Materials;Industrial Products;Pla...,Lesso;L&S,China,chn,1973.0
5024,zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,1953-01-01,1953.0,1953,NaN,69.0,Male,China-Chongqing,"Auto Components;Motorcycles, Real Estate;Motor...",Zongshen,China,chn,1953.0
5025,zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,NaN,NaN,1953,NaN,NaN,NaN,NaN,"Motorcycles, Real estate",Zongshen,NaN,NaN,1953.0
5026,zygi_wilf,Zygi Wilf,1950-04-22,1950.0,1951,NaN,72.0,Male,United States-Millburn,Sports;Real Estate,Minnesota Vikings;Garden Homes,United States,usa,1950.0
5027,zygmunt_solorz_zak,Zygmunt Solorz-Zak,1956-08-04,1956.0,1957,NaN,66.0,Male,Poland-Warsaw,Media;Entertainment,Cyfrowy Polsat,Poland,pol,1956.0

In [260]:
hurun_ent[hurun_ent['person'] == 'adam_neuman']

,person,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb
16,adam_neuman,Adam Neuman,NaN,NaN,1980,NaN,NaN,NaN,NaN,Real Estate;Technology,WeWork,NaN,NaN,1980.0

In [261]:
def _f(x):
    if x in hurun_map.keys():
        return hurun_map[x]
    else:
        print(x)
        return np.nan

hurun_ent['gm_id'] = hurun_ent['person'].map(_f)

In [262]:
# map country name to geo. 
geo_syns = pd.read_csv('../../../ddf--open_numbers/ddf--synonyms--geo.csv')
geo_map = geo_syns.set_index('synonym')['geo'].to_dict()

geo_map['Eswatini (Swaziland)'] = 'swz'

In [263]:
def _f(x):
    if pd.isnull(x):
        return x
    else:
        if ';' in x:
            print(x)
            x_ = x.split(';')[0].strip()  ## first one is latest
            return geo_map[x_]
        else:
            return geo_map[x]

fbent_final['geo'] = fbent_final['country'].map(_f)

United States; Colombia
Israel; Kazakhstan
India; Thailand
Germany; United States
Czechia; Czech Republic
Lebanon; Saudi Arabia
Lebanon; Switzerland
Georgia; Russia
Canada; China
Hong Kong; China
Hong Kong; China
Czechia; Czech Republic
Brazil; United States
United States; Russia
Switzerland; Germany
Switzerland; Germany
Macau; Macao
Hong Kong; China
Israel; Russia
Switzerland; Australia
Singapore; Taiwan
United States; Canada
Cyprus; Norway
Czechia; Czech Republic
China; Hong Kong
Singapore; China
Monaco; Brazil
United States; China
Czechia; Czech Republic
United States; South Korea
Eswatini (Swaziland); Swaziland
China; Hong Kong
Ireland; India
Belgium; Kazakhstan
Czechia; Czech Republic
Czechia; Czech Republic
Czechia; Czech Republic
Czechia; Czech Republic
Austria; France
United Kingdom; Canada
Lebanon; Saudi Arabia
Hong Kong; China
Monaco; Italy
Cyprus; Greece
Cyprus; India
Canada; United Kingdom
Ukraine; Russia
United States; Russia
Germany; Russia
Hong Kong; China
Israel; Russia
China; Hong Kong

In [264]:
fbent_final

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,usa
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media,a-jerrold-perenchio; no-pic,91.0,M,Perenchio,usa
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair,are
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,sau
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,idn
...,...,...,...,...,...,...,...,...,...,...,...,...
4227,harald_tschira,NaN,Germany,NaN,NaN,software; Software,Technology,NaN,NaN,NaN,Tschira,deu
4228,vinod_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta,ind
4229,anil_rai_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta,ind
4230,willi_liebherr,NaN,Switzerland,NaN,NaN,Construction; construction,Construction & Engineering,NaN,NaN,NaN,Liebherr,che
4231,isolde_liebherr,NaN,Switzerland,NaN,NaN,Construction; construction,Construction & Engineering,NaN,NaN,NaN,Liebherr,che

In [265]:
forbes_ent_1 = fbent_final.copy()
forbes_ent_1 = forbes_ent_1.dropna(subset=['person'])

In [266]:
hurun_ent_1 = hurun_ent.copy()
hurun_ent_1 = hurun_ent_1.dropna(subset=['gm_id'])

In [267]:
hurun_ent_1 = hurun_ent_1.drop(columns=['person']).set_index('gm_id')
hurun_ent_1.index.name = 'person'
hurun_ent_1 = hurun_ent_1.reset_index()

In [268]:
comb_ent = pd.concat([forbes_ent_1, hurun_ent_1], ignore_index=True)

In [269]:
comb_ent

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,usa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media,a-jerrold-perenchio; no-pic,91.0,M,Perenchio,usa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair,are,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,sau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,idn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9255,zuo_xiaoping,Zuo Xiaoping,China,NaN,NaN,NaN,Construction Materials;Industrial Products;Pla...,NaN,49.0,NaN,NaN,chn,1973-01-01,1973.0,NaN,NaN,Female,China-Guangdong-Foshan,Lesso;L&S,1973.0
9256,zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,China,NaN,NaN,NaN,"Auto Components;Motorcycles, Real Estate;Motor...",NaN,69.0,NaN,NaN,chn,1953-01-01,1953.0,1953,NaN,Male,China-Chongqing,Zongshen,1953.0
9257,zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,NaN,NaN,NaN,NaN,"Motorcycles, Real estate",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1953,NaN,NaN,NaN,Zongshen,1953.0
9258,zygi_wilf,Zygi Wilf,United States,NaN,NaN,NaN,Sports;Real Estate,NaN,72.0,NaN,NaN,usa,1950-04-22,1950.0,1951,NaN,Male,United States-Millburn,Minnesota Vikings;Garden Homes,1950.0
9259,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,NaN,Media;Entertainment,NaN,66.0,NaN,NaN,pol,1956-08-04,1956.0,1957,NaN,Male,Poland-Warsaw,Cyfrowy Polsat,1956.0

In [270]:
gs = comb_ent.groupby('person')

In [271]:
gs.get_group('jeff_bezos')

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
1581,jeff_bezos,Jeff Bezos,United States,Washington,WA,Amazon; Amazon.com,Technology,jeff-bezos,58.0,M,Bezos,usa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5990,jeff_bezos,Jeff Bezos,United States,NaN,NaN,NaN,E-Commerce;Online Retail,NaN,58.0,NaN,NaN,usa,1964-01-12,1964.0,1964,1964,Male,United States-Washington State-Seattle,Amazon,1964.0

In [272]:
gs.get_group('cai_kui')

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
430,cai_kui,Cai Kui,China,Sichuan,NaN,real estate,Real Estate,cai-kui,59.0,M,Cai,chn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4686,cai_kui,Cai Kui;Cai Kui & Family;Cai Kui & family,Hong Kong,NaN,NaN,NaN,Developer;Real Estate,NaN,61.0,NaN,NaN,hkg,1961-01-01,1961.0,NaN,NaN,Male,China-Hong Kong,Longfor,1961.0

In [273]:
hurun_ent[hurun_ent['gm_id'] == 'cai_kui']

,person,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb,gm_id
454,cai_kui,Cai Kui;Cai Kui & Family;Cai Kui & family,1961-01-01,1961.0,NaN,NaN,61.0,Male,China-Hong Kong,Developer;Real Estate,Longfor,Hong Kong,hkg,1961.0,cai_kui

In [274]:
# NOTE: because forbes is in front of hurun list,
# the combined result will have forbes propertties in front.

def group_func(df):
    res = dict()
    for c in df.columns:
        if c not in ['wealth', 'ranking', 'year']:
            res[c] = ";".join([str(x).strip() for x in df[c].dropna().drop_duplicates().values])
            
    return pd.Series(res)

In [275]:
group_func(gs.get_group('cai_kui'))

person                                                         cai_kui
name                 Cai Kui;Cai Kui;Cai Kui & Family;Cai Kui & family
country                                                China;Hong Kong
state                                                          Sichuan
headquarters
source                                                     real estate
industry                             Real Estate;Developer;Real Estate
image_uri                                                      cai-kui
age                                                          59.0;61.0
gender                                                               M
last_name                                                          Cai
geo                                                            chn;hkg
birth                                                       1961-01-01
birth_1                                                         1961.0
birth_2
birth_3
sex                                                               Male
permanent_country                                      China-Hong Kong
company                                                        Longfor
birth_comb                                                      1961.0
dtype: object

In [276]:
# TODO: for now keep all columns.. need to cleanup

In [277]:
res_ent = gs.apply(group_func)

In [278]:
res_ent

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
person,,,,,,,,,,,,,,,,,,,,
a_jayson_adair,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,usa,,,,,,,,
a_jerrold_perenchio,a_jerrold_perenchio,A. Jerrold Perenchio;Jerrold Perenchio,United States,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media;Entertainment,a-jerrold-perenchio; no-pic,91.0,M,Perenchio,usa,,,1931,,,,Chartwell Leisure,1931.0
abdul_aziz_al_ghurair,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,,,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair,are,,,,,,,,
abdul_majeed_alhokair,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,,,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,sau,,,,,,,,
abdul_rasyid,abdul_rasyid,Abdul Rasyid,Indonesia,,,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,idn,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuo_zongshen,zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,China,,,,"Auto Components;Motorcycles, Real Estate;Motor...",,69.0,,,chn,1953-01-01,1953.0,1953,,Male,China-Chongqing,Zongshen,1953.0
zuo_zongshen_and_yuan_dexiu,zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,,,,,"Motorcycles, Real estate",,,,,,,,1953,,,,Zongshen,1953.0
zuowen_song,zuowen_song,Zuowen Song;Song Zuowen;Song Zuowen & Family;S...,China,,,"aluminum, diversified",Diversified;Non-ferrous metals processing;Meta...,zuowen-song,75.0;75.0,M,Song,chn,1947-03-01,1947.0,1947,,Male,China-Shandong-Yantai,Nanshan,1947.0
zygi_wilf,zygi_wilf,Zygi Wilf,United States,,,,Sports;Real Estate,,72.0,,,usa,1950-04-22,1950.0,1951,,Male,United States-Millburn,Minnesota Vikings;Garden Homes,1950.0
zygmunt_solorz_zak,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,,,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,zygmunt-solorz-zak; no-pic,65.0;66.0,M,Solorz-Zak,pol,1956-08-04,1956.0,1957,,Male,Poland-Warsaw,Cyfrowy Polsat,1956.0

In [279]:
# res_ent = res_ent.drop(columns=['gm_id'])

In [280]:
res_ent.loc['cai_kui']

person                                                         cai_kui
name                 Cai Kui;Cai Kui;Cai Kui & Family;Cai Kui & family
country                                                China;Hong Kong
state                                                          Sichuan
headquarters
source                                                     real estate
industry                             Real Estate;Developer;Real Estate
image_uri                                                      cai-kui
age                                                          59.0;61.0
gender                                                               M
last_name                                                          Cai
geo                                                            chn;hkg
birth                                                       1961-01-01
birth_1                                                         1961.0
birth_2
birth_3
sex                                                               Male
permanent_country                                      China-Hong Kong
company                                                        Longfor
birth_comb                                                      1961.0
Name: cai_kui, dtype: object

In [281]:
res_ent = res_ent.drop(columns=['person'])

In [282]:
# res_ent.index.name = 'person'

In [283]:
res_ent['countries'] = res_ent['geo']
res_ent['names'] = res_ent['name']

In [284]:
def _f(x):
    if isinstance(x, str):
        if ';' in x:
            return x.split(';')[0].strip()
    return x

res_ent['name'] = res_ent['names'].map(_f)

In [285]:
res_ent = res_ent.drop(columns=['geo'])

In [286]:
res_ent = res_ent.drop(columns=['country'])

In [287]:
res_ent.columns

Index(['name', 'state', 'headquarters', 'source', 'industry', 'image_uri',
       'age', 'gender', 'last_name', 'birth', 'birth_1', 'birth_2', 'birth_3',
       'sex', 'permanent_country', 'company', 'birth_comb', 'countries',
       'names'],
      dtype='object')

In [288]:
# drop those entities without country
res_ent = res_ent[~pd.isnull(res_ent['countries'])]

In [289]:
res_ent

,name,state,headquarters,source,industry,image_uri,age,gender,last_name,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb,countries,names
person,,,,,,,,,,,,,,,,,,,
a_jayson_adair,A. Jayson Adair,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,,,,,,,,,usa,A. Jayson Adair
a_jerrold_perenchio,A. Jerrold Perenchio,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media;Entertainment,a-jerrold-perenchio; no-pic,91.0,M,Perenchio,,,1931,,,,Chartwell Leisure,1931.0,usa,A. Jerrold Perenchio;Jerrold Perenchio
abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,,,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair,,,,,,,,,are,Abdul Aziz Al Ghurair
abdul_majeed_alhokair,Abdul Majeed Alhokair,,,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,,,,,,,,,sau,Abdul Majeed Alhokair
abdul_rasyid,Abdul Rasyid,,,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,,,,,,,,,idn,Abdul Rasyid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuo_zongshen,Zuo Zongshen,,,,"Auto Components;Motorcycles, Real Estate;Motor...",,69.0,,,1953-01-01,1953.0,1953,,Male,China-Chongqing,Zongshen,1953.0,chn,Zuo Zongshen;Zuo Zongshen & family
zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,,,,"Motorcycles, Real estate",,,,,,,1953,,,,Zongshen,1953.0,,Zuo Zongshen & Yuan Dexiu
zuowen_song,Zuowen Song,,,"aluminum, diversified",Diversified;Non-ferrous metals processing;Meta...,zuowen-song,75.0;75.0,M,Song,1947-03-01,1947.0,1947,,Male,China-Shandong-Yantai,Nanshan,1947.0,chn,Zuowen Song;Song Zuowen;Song Zuowen & Family;S...
zygi_wilf,Zygi Wilf,,,,Sports;Real Estate,,72.0,,,1950-04-22,1950.0,1951,,Male,United States-Millburn,Minnesota Vikings;Garden Homes,1950.0,usa,Zygi Wilf
zygmunt_solorz_zak,Zygmunt Solorz-Zak,,,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,zygmunt-solorz-zak; no-pic,65.0;66.0,M,Solorz-Zak,1956-08-04,1956.0,1957,,Male,Poland-Warsaw,Cyfrowy Polsat,1956.0,pol,Zygmunt Solorz-Zak

In [290]:
res_ent.to_csv('../../ddf--entities--person.csv')

In [291]:
res_ent

,name,state,headquarters,source,industry,image_uri,age,gender,last_name,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb,countries,names
person,,,,,,,,,,,,,,,,,,,
a_jayson_adair,A. Jayson Adair,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,,,,,,,,,usa,A. Jayson Adair
a_jerrold_perenchio,A. Jerrold Perenchio,California,CA,"television, Univision; television; Univision",Media & Entertainment; Media;Entertainment,a-jerrold-perenchio; no-pic,91.0,M,Perenchio,,,1931,,,,Chartwell Leisure,1931.0,usa,A. Jerrold Perenchio;Jerrold Perenchio
abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,,,banking,Finance,abdul-aziz-al-ghurair; no-pic,67.0,M,Al Ghurair,,,,,,,,,are,Abdul Aziz Al Ghurair
abdul_majeed_alhokair,Abdul Majeed Alhokair,,,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,,,,,,,,,sau,Abdul Majeed Alhokair
abdul_rasyid,Abdul Rasyid,,,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,,,,,,,,,idn,Abdul Rasyid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuo_zongshen,Zuo Zongshen,,,,"Auto Components;Motorcycles, Real Estate;Motor...",,69.0,,,1953-01-01,1953.0,1953,,Male,China-Chongqing,Zongshen,1953.0,chn,Zuo Zongshen;Zuo Zongshen & family
zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,,,,"Motorcycles, Real estate",,,,,,,1953,,,,Zongshen,1953.0,,Zuo Zongshen & Yuan Dexiu
zuowen_song,Zuowen Song,,,"aluminum, diversified",Diversified;Non-ferrous metals processing;Meta...,zuowen-song,75.0;75.0,M,Song,1947-03-01,1947.0,1947,,Male,China-Shandong-Yantai,Nanshan,1947.0,chn,Zuowen Song;Song Zuowen;Song Zuowen & Family;S...
zygi_wilf,Zygi Wilf,,,,Sports;Real Estate,,72.0,,,1950-04-22,1950.0,1951,,Male,United States-Millburn,Minnesota Vikings;Garden Homes,1950.0,usa,Zygi Wilf
zygmunt_solorz_zak,Zygmunt Solorz-Zak,,,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,zygmunt-solorz-zak; no-pic,65.0;66.0,M,Solorz-Zak,1956-08-04,1956.0,1957,,Male,Poland-Warsaw,Cyfrowy Polsat,1956.0,pol,Zygmunt Solorz-Zak

In [292]:
res_ent.countries.unique()

array(['usa', 'are', 'sau', 'idn', 'nga', 'ind', 'bra', 'hkg', '',
       'isr;usa', 'rou', 'dnk', 'tur', 'chn', 'gbr', 'rus', 'tha', 'jpn',
       'can', 'fra', 'gbr;che', 'che', 'aus', 'deu', 'bel', 'esp', 'mex',
       'per', 'ita', 'arg', 'isr', 'kaz', 'nor', 'prt', 'rus;gbr', 'swe',
       'nld', 'rus;che', 'zaf', 'ind;tha', 'chl', 'mys', 'mar', 'bra;gbr',
       'twn', 'nor;usa', 'deu;usa', 'cze', 'ury', 'phl', 'ukr', 'ind;gbr',
       'fra;che', 'fin', 'can;usa', 'mco', 'grc;che', 'sgp', 'deu;che',
       'ita;che', 'lbn;sau', 'lbn;che', 'kor', 'kwt;usa', 'col',
       'che;fra', 'swe;che', 'geo', 'npl', 'usa;aus', 'usa;kor',
       'ind;are', 'aus;bhs', 'vnm', 'chn;hkg', 'gbr;usa', 'fra;gbr',
       'can;chn', 'nld;gbr', 'mys;khm', 'twn;usa', 'hkg;chn', 'twn;chn',
       'deu;gbr', 'lie', 'nzl;are', 'cyp;mco', 'rou;usa', 'esp;che',
       'pol', 'mac', 'isl;dnk', 'col;bra', 'usa;chn', 'irl', 'aut',
       'rus;sgp', 'rus;mco', 'idn;usa', 'bra;sgp', 'bel;mco', 'isr;mco',
       'lbn;fra', 'qat', 'kwt', 'swe;gbr', 'bgr', 'fra;usa', 'ita;bel',
       'nzl', 'che;gbr', 'ven', 'tur;usa', 'che;usa', 'brn', 'deu;aut',
       'aut;hkg', 'usa;gbr', 'mac;chn', 'deu;hkg', 'chn;hkg;chn',
       'aus;chn', 'blz;chn', 'isr;gbr', 'ago', 'dza', 'svk', 'kna;chn',
       'bel;cze', 'sgp;twn', 'mex;usa', 'deu;dnk', 'gbr;bhs', 'irl;gbr',
       'irl;usa', 'cyp;gbr', 'arg;mex', 'bra;che', 'prt;gbr', 'can;hkg',
       'nor;nld', 'jpn;hkg', 'blz;cym', 'ind;sgp', 'est;gbr', 'can;che',
       'sgp;chn', 'chn;sgp', 'mco;gbr', 'hun', 'ita;mco', 'che;mco',
       'gtm', 'can;gbr', 'dnk;gbr', 'idn;sgp', 'pak', 'aus;gbr',
       'fra;are', 'geo;kaz', 'egy;gbr', 'egy', 'omn', 'tza', 'kna;usa',
       'lbn', 'phl;cyp', 'swz;gbr', 'ltu', 'bel;kaz', 'rus;are',
       'swe;bel', 'gbr;are', 'grc;fra', 'omn;ind', 'ind;usa', 'nld;che',
       'phl;ind', 'aut;che', 'nzl;sgp', 'brb', 'usa;sgp', 'mys;hkg',
       'usa;hkg', 'bgd', 'jpn;nzl', 'idn;gbr', 'gbg;gbr', 'zwe;gbr',
       'cyp', 'uga', 'cyp;ind', 'tha;mys', 'nld;usa', 'jpn;sgp',
       'tha;are', 'che;esp', 'isl;gbr', 'usa;che', 'nor;che', 'grc',
       'grc;bra', 'ukr;gbr', 'deu;tur', 'twn;hkg', 'rus;syc'],
      dtype=object)

In [293]:
res_ent[res_ent.countries.str.contains(';')]['countries'].to_dict()

{'adam_neumann': 'isr;usa',
 'alan_howard': 'gbr;che',
 'alexei_kuzmichev': 'rus;gbr',
 'alisher_usmanov': 'rus;che',
 'aloke_lohia': 'ind;tha',
 'andre_esteves': 'bra;gbr',
 'andreas_halvorsen': 'nor;usa',
 'andreas_von_bechtolsheim': 'deu;usa',
 'andrew_currie': 'gbr;che',
 'anil_agarwal': 'ind;gbr',
 'anne_beaufour': 'fra;che',
 'antonio_luiz_seabra': 'bra;gbr',
 'apoorva_mehta': 'can;usa',
 'aristotelis_mistakidis': 'grc;che',
 'august_von_finck': 'deu;che',
 'augusto_giorgio_perfetti': 'ita;che',
 'ayman_hariri': 'lbn;sau',
 'bahaa_hariri': 'lbn;che',
 'bassam_alghanim': 'kwt;usa',
 'benjamin_de_rothschild': 'che;fra',
 'bertil_hult': 'swe;che',
 'blair_parry_okeden': 'usa;aus',
 'bom_kim': 'usa;kor',
 'br_shetty': 'ind;are',
 'brett_blundy': 'aus;bhs',
 'cai_kui': 'chn;hkg',
 'cameron_mackintosh': 'gbr;usa',
 'camilla_de_godoy_bueno_grossi': 'bra;gbr',
 'carrie_perrodo': 'fra;gbr',
 'carsten_koerl': 'deu;che',
 'changpeng_zhao': 'can;chn',
 'charlene_de_carvalho_heineken': 'nld;gbr',
 'chen_lip_keong': 'mys;khm',
 'chen_tei_fu': 'twn;usa',
 'chenghai_ye': 'hkg;chn',
 'cher_wang': 'twn;chn',
 'chin_jong_hwa': 'twn;chn',
 'cho_jyh_jer': 'twn;chn',
 'christian_angermayer': 'deu;gbr',
 'christoph_henkel': 'deu;gbr',
 'christopher_chandler': 'nzl;are',
 'chu_lam_yiu': 'hkg;chn',
 'clelia_haji_ioannou': 'cyp;mco',
 'daniel_dines': 'rou;usa',
 'daniel_mate': 'esp;che',
 'david_cheriton': 'can;usa',
 'david_helgason': 'isl;dnk',
 'david_velez': 'col;bra',
 'dawen_huang': 'hkg;chn',
 'deng_hui': 'usa;chn',
 'denis_sverdlov': 'rus;gbr',
 'dennis_gillings': 'gbr;usa',
 'dmitry_bukhman_1': 'rus;gbr',
 'dmitry_kamenshchik': 'rus;sgp',
 'dmitry_rybolovlev': 'rus;mco',
 'donald_sihombing': 'idn;usa',
 'douglas_hsu': 'twn;chn',
 'douglas_leone': 'usa;chn',
 'eduardo_saverin': 'bra;sgp',
 'elena_baturina': 'rus;gbr',
 'eric_wittouck': 'bel;mco',
 'eyal_ofer': 'isr;mco',
 'fahed_hariri': 'lbn;fra',
 'feng_chenhui': 'usa;chn',
 'finn_rausing': 'swe;gbr',
 'frederik_paulsen': 'swe;che',
 'garrett_camp': 'can;usa',
 'geeta_gupta_fisker': 'gbr;usa',
 'gennady_timchenko': 'rus;che',
 'gerard_wertheimer_1': 'fra;usa',
 'giovanni_ferrero': 'ita;bel',
 'gongshan_zhu': 'chn;hkg',
 'guillaume_pousaz': 'che;gbr',
 'guo_zhenyu': 'can;chn',
 'hamdi_ulukaya': 'tur;usa',
 'hans_rausing': 'swe;gbr',
 'hansjoerg_wyss': 'che;usa',
 'hao_hong': 'usa;chn',
 'helga_kellerhals': 'deu;aut',
 'helmut_sohmen': 'aut;hkg',
 'henri_beaufour': 'fra;gbr',
 'henry_engelhardt': 'usa;gbr',
 'hilton_schlosberg': 'gbr;usa',
 'ho_kuang_chi': 'twn;chn',
 'hoi_kin_hong': 'mac;chn',
 'horst_julius_pudwill': 'deu;hkg',
 'hua_li_1': 'chn;hkg;chn',
 'huang_bingwen': 'aus;chn',
 'huang_chulong': 'can;chn',
 'huang_jiangji': 'hkg;chn',
 'huang_maoru': 'blz;chn',
 'huang_shih_tsai': 'hkg;chn',
 'huang_yi': 'hkg;chn',
 'huang_zhengcong': 'hkg;chn',
 'hubertus_benteler': 'deu;aut',
 'igor_bukhman': 'isr;gbr',
 'jacky_xu': 'kna;chn',
 'jan_van_geet': 'bel;cze',
 'jason_chang': 'sgp;twn',
 'jeronimo_arango': 'mex;usa',
 'joachim_ante': 'deu;dnk',
 'joe_lewis': 'gbr;bhs',
 'john_armitage': 'irl;gbr',
 'john_collison': 'irl;usa',
 'john_fredriksen': 'cyp;gbr',
 'john_grayken': 'irl;gbr',
 'john_oyler': 'usa;chn',
 'john_reece': 'gbr;che',
 'jonas_kamprad': 'swe;gbr',
 'jorge_horacio_brito': 'arg;mex',
 'jorge_paulo_lemann': 'bra;che',
 'jorn_rausing': 'swe;gbr',
 'jose_neves': 'prt;gbr',
 'joseph_tsai': 'can;hkg',
 'kaiting_wu': 'hkg;chn',
 'katharina_andresen': 'nor;nld',
 'katharina_otto_bernstein': 'deu;usa',
 'kazuo_okada': 'jpn;hkg',
 'kei_perenna': 'hkg;chn',
 'kenneth_dart': 'blz;cym',
 'kieu_hoang': 'usa;chn',
 'kirsten_rausing': 'swe;gbr',
 'klaus_michael_kuehne': 'deu;che',
 'krishna_kumar_bangur': 'ind;sgp',
 'kristo_kaarmann': 'est;gbr',
 'lakshmi_n_mittal': 'ind;gbr',
 'laurence_graff': 'gbr;che',
 'lawrence_stroll': 'can;che',
 'lee_yin_yee': 'chn;hkg',
 'len_blavatnik': 'usa;gbr',
 'lev_leviev': 'isr;gbr',
 'li_ge_1': 'usa;chn',
 'li_jianquan': 'hkg;chn',
 'li_ping_1': 'hkg;chn',
 'li_sze_lim': 'hkg;chn',
 'li_wa': 'hkg;chn',
 'li_xiting': 'sgp;chn',
 'liang_xinjun': 'chn;sgp',
 'lily_safra': 'mco;gbr',
 'lin_bin': 'usa;chn',
 'lin_chen_hai': 'twn;chn',
 'lin_dingqiang': 'hkg;chn',
 'liu_jilu': 'chn;hkg',
 'liu_ming_hui': 'chn;hkg',
 'lou_boliang': 'usa;chn',
 'lun_ruixiang': 'chn;hkg',
 'luo_jye': 'twn;chn',
 'ma_yusuff_ali': 'ind;are',
 'manfredi_lefebvre_dovidio': 'ita;mco',
 'maria_franca_fissolo': 'ita;mco',
 'mario_germano_giuliani': 'che;mco',
 'mark_scheinberg': 'can;gbr',
 'martin_lau': 'hkg;chn',
 'martin_moller_nielsen': 'dnk;gbr',
 'martua_sitorus': 'idn;sgp',
 'mathias_kamprad': 'swe;gbr',
 'max_lytvyn': 'can;usa',
 'melih_abdulhayoglu': 'tur;usa',
 'michael_hintze': 'aus;gbr',
 'michael_kim': 'usa;kor',
 'michael_platt': 'gbr;che',
 'michel_chalhoub': 'fra;are',
 'michelle_zatlyn': 'can;usa',
 'micky_jagtiani': 'ind;are',
 'mikhail_fridman': 'rus;gbr',
 'mikhail_lomtadze': 'geo;kaz',
 'mohamed_al_fayed': 'egy;gbr',
 'morris_chang': 'twn;chn',
 'myron_wentz': 'kna;usa',
 'nari_genomal': 'phl;cyp',
 'nathan_kirsh': 'swz;gbr',
 'nathaniel_rothschild': 'can;gbr',
 'neil_shen': 'chn;hkg',
 'oleg_boyko': 'rus;che',
 'olivier_pomel': 'fra;usa',
 'otto_happel': 'deu;che',
 'pan_dong_1': 'can;chn',
 'patokh_chodiev': 'bel;kaz',
 'patrick_collison': 'irl;usa',
 'patrick_drahi': 'fra;che',
 'paul_xiaoming_lee': 'usa;chn',
 'pavel_durov': 'rus;are',
 'peter_kamprad': 'swe;bel',
 'peter_szulczewski': 'can;usa',
 'philip_day': 'gbr;are',
 'philip_niarchos': 'grc;fra',
 'philippe_foriel_destezet': 'fra;gbr',
 'pierre_castel': 'fra;che',
 'pnc_menon': 'omn;ind',
 'polys_haji_ioannou': 'cyp;mco',
 'pv_ramprasad_reddy': 'ind;usa',
 'raghuvinder_kataria': 'gbr;are',
 'ralph_sonnenberg': 'nld;che',
 'ramesh_genomal': 'phl;ind',
 'ravi_pillai': 'ind;are',
 'reinold_geiger': 'aut;che',
 'richard_chandler': 'nzl;sgp',
 'richard_chang': 'twn;chn',
 'robert_friedland': 'usa;sgp',
 'robert_kuok': 'mys;hkg',
 'robin_zeng': 'hkg;chn',
 'rolf_gerling': 'deu;che',
 'roman_abramovich': 'rus;gbr',
 'ron_burkle': 'usa;gbr',
 'ruan_liping': 'hkg;chn',
 'ruan_xueping': 'hkg;chn',
 'saket_burman': 'gbr;are',
 'sam_bankman_fried': 'usa;hkg',
 'scott_lin': 'twn;chn',
 'shamsheer_vayalil': 'ind;are',
 'shay_banon': 'isr;usa',
 'shirley_kao': 'twn;chn',
 'shu_ping': 'sgp;chn',
 'shyam_bhartia': 'ind;sgp',
 'soichiro_fukutake': 'jpn;nzl',
 'spiro_latsis': 'grc;che',
 'sri_prakash_lohia': 'idn;gbr',
 'stelios_haji_ioannou': 'cyp;mco',
 'stephane_bancel': 'fra;usa',
 'stephen_lansdown': 'gbg;gbr',
 'stewart_butterfield': 'can;usa',
 'strive_masiyiwa': 'zwe;gbr',
 'sukanto_tanoto': 'idn;sgp',
 'sun_hongbin': 'usa;chn',
 'sunder_genomal_1': 'phl;ind',
 'sunil_vaswani': 'gbr;are',
 'sunny_varkey': 'ind;are',
 'surendra_hiranandani': 'cyp;ind',
 'surin_upatkoon': 'tha;mys',
 'sytse_sid_sijbrandij': 'nld;usa',
 'takao_yasuda': 'jpn;sgp',
 'thaksin_shinawatra': 'tha;are',
 'thomas_meyer': 'che;esp',
 'thor_bjorgolfsson': 'isl;gbr',
 'tor_peterson': 'usa;che',
 'torstein_hagen': 'nor;che',
 'traudl_engelhorn': 'deu;che',
 'tsai_chi_jui': 'twn;chn',
 'tse_ping': 'chn;hkg',
 'viatcheslav_kantor': 'rus;che',
 'vicky_safra': 'grc;bra',
 'vlad_yatsenko': 'ukr;gbr',
 'vladimir_iorich': 'deu;che',
 'walter_pj_droege': 'deu;tur',
 'wang_chou_hsiong': 'twn;chn',
 'wang_wei': 'chn;hkg',
 'wu_chung_yi': 'twn;chn',
 'wu_jianshu': 'hkg;chn',
 'wu_li_gann': 'twn;hkg',
 'wu_xu': 'kna;chn',
 'xie_ketao': 'chn;hkg',
 'xie_weitong': 'twn;chn',
 'xiong_xuqiang': 'hkg;chn',
 'xu_hang': 'hkg;chn',
 'yakir_gabay': 'cyp;gbr',
 'yu_de_chao': 'usa;chn',
 'yu_guo': 'chn;hkg',
 'yuri_gushchin': 'rus;syc',
 'yuri_milner': 'isr;usa',
 'yuri_shefler': 'rus;che',
 'zhai_meiqin_1': 'hkg;chn',
 'zhang_congyuan': 'twn;chn',
 'zhang_lei_1': 'chn;hkg',
 'zhang_ning': 'can;chn',
 'zhao_tao': 'sgp;chn',
 'zhong_peifeng_1': 'usa;chn',
 'zhong_sheng_jian': 'sgp;chn',
 'zhou_qunfei': 'hkg;chn',
 'zhuo_jun_1': 'hkg;chn'}