In [1]:
import pandas as pd
import numpy as np

In [9]:
all_ids_v1 = pd.read_csv('../source/billionaires list - eo_final.csv')
all_ids = pd.read_csv('../source/GM-Billionaires_list-v2 - eo_final.csv')

In [20]:
all_ids_v1[all_ids_v1['Unique Gapminder ID'].duplicated(keep=False)]

,Unique Gapminder ID,Forbes_id,Hurun_id
704,gurbachan_singh_dhingra,gurbachan_singh_dhingra,gurbachan_singh_dhingra
731,hari_bhartia,hari_bhartia,hari_bhartia
1114,kuldip_singh_dhingra,kuldip_singh_dhingra,kuldip_singh_dhingra
1115,kuldip_singh_dhingra,kuldip_singh_gurbachan_singh_dhingra,kuldip_singh_dhingra
1892,shyam_bhartia,shyam_bhartia,shyam_bhartia
1893,hari_bhartia,shyam_hari_bhartia,hari_bhartia
2780,gurbachan_singh_dhingra,kunio_busujima,gurbachan_singh_dhingra
2873,shyam_bhartia,siegfried_meister,shyam_bhartia
3916,udo_tschira,NaN,udo_tschira
3917,udo_tschira,udo_harald_tschira,urmish_hasmukh_chudgar

In [21]:
all_ids_v1[all_ids_v1['Hurun_id'] == "joseph_safra"]

     Unique Gapminder ID     Forbes_id      Hurun_id
1024        joseph_safra  joseph_safra  joseph_safra

In [10]:
all_ids_v1.shape

(5370, 3)

In [3]:
all_ids

      Unique Gapminder ID            Forbes_id            Hurun_id
0      abdulla_al_futtaim   abdulla_al_futtaim  abdulla_al_futtaim
1       abdullah_al_rajhi    abdullah_al_rajhi   abdullah_al_rajhi
2        abdulsamad_rabiu     abdulsamad_rabiu    abdulsamad_rabiu
3               abhay_soi            abhay_soi           abhay_soi
4             abhay_vakil          abhay_vakil         abhay_vakil
...                   ...                  ...                 ...
6000         zhu_chongyun         zhu_chongyun                 NaN
6001           zhu_qingyi           zhu_qingyi                 NaN
6002              zhu_yan              zhu_yan                 NaN
6003        ziyad_manasir        ziyad_manasir                 NaN
6004  ziyavudin_magomedov  ziyavudin_magomedov                 NaN

[6005 rows x 3 columns]

In [12]:
all_ids.drop_duplicates()

      Unique Gapminder ID            Forbes_id            Hurun_id
0      abdulla_al_futtaim   abdulla_al_futtaim  abdulla_al_futtaim
1       abdullah_al_rajhi    abdullah_al_rajhi   abdullah_al_rajhi
2        abdulsamad_rabiu     abdulsamad_rabiu    abdulsamad_rabiu
3               abhay_soi            abhay_soi           abhay_soi
4             abhay_vakil          abhay_vakil         abhay_vakil
...                   ...                  ...                 ...
6000         zhu_chongyun         zhu_chongyun                 NaN
6001           zhu_qingyi           zhu_qingyi                 NaN
6002              zhu_yan              zhu_yan                 NaN
6003        ziyad_manasir        ziyad_manasir                 NaN
6004  ziyavudin_magomedov  ziyavudin_magomedov                 NaN

[6003 rows x 3 columns]

In [13]:
all_ids = all_ids.dropna(axis=0, how='all').drop_duplicates()

In [4]:
all_ids.columns = ['gm_id', 'forbes_id', 'hurun_id']

In [5]:
# steps:
# 1. get the dict for forbes id -> gm id and hurun id -> gm id
# 2. convert indicators to use gm id
# 3. merge indicators. (ask Ola what to do for duplicated people, what indicators we need to add)
# 4. maybe add portrait to entities
# 5. calculate the income mountain again.
# 6. make documents

# added step:
# for some of forbes records, we need to separate them into multiple results.
# so we should first divide forbes mapping into 2 parts.

In [6]:
# how to calculate the indicator required by income mountain:
# income by person, year -> income by person, geo, year -> income_level by person, geo, year
# -> population by income_level, geo, year

In [14]:
fm = all_ids[['forbes_id', 'gm_id']].dropna(how='any')

fm1 = fm[fm['forbes_id'].duplicated(keep=False)]  # these ones need to be split to mulitple people.
fm2 = fm[~fm['forbes_id'].duplicated(keep=False)]

KeyError: "None of [Index(['forbes_id', 'gm_id'], dtype='object')] are in the [columns]"

In [15]:
fm1

                               forbes_id                               gm_id
803                         hari_bhartia                        hari_bhartia
1223                kuldip_singh_dhingra                kuldip_singh_dhingra
1224                kuldip_singh_dhingra                kuldip_singh_dhingra
2076                        hari_bhartia                        hari_bhartia
2905                vinod_anil_rai_gupta                vinod_anil_rai_gupta
2945               chen_wenchi_wang_cher               chen_wenchi_wang_cher
2953  chuchat_petaumpai_daonapa_petampai  chuchat_petaumpai_daonapa_petampai
3114             lee_yeow_chor_yeow_seng             lee_yeow_chor_yeow_seng
3232                               safra                               safra
3300               willi_isolde_liebherr               willi_isolde_liebherr
3382                vinod_anil_rai_gupta                      anil_rai_gupta
3490                               safra                  chelia_cohen_safra
3548               chen_wenchi_wang_cher                           cher_wang
3561  chuchat_petaumpai_daonapa_petampai                   chuchat_petaumpai
3584                               safra                       david_j_safra
3657                               safra                        esther_safra
3875               willi_isolde_liebherr                     isolde_liebherr
4034                                kwee                     kwee_liong_keng
4036                                kwee                     kwee_liong_seen
4037                                kwee                      kwee_liong_tek
4057             lee_yeow_chor_yeow_seng                       lee_yeow_seng
5574                                kwee                                kwee

In [17]:
fm1.sort_values(by='gm_id')

                               forbes_id                               gm_id
3382                vinod_anil_rai_gupta                      anil_rai_gupta
3490                               safra                  chelia_cohen_safra
2945               chen_wenchi_wang_cher               chen_wenchi_wang_cher
3548               chen_wenchi_wang_cher                           cher_wang
3561  chuchat_petaumpai_daonapa_petampai                   chuchat_petaumpai
2953  chuchat_petaumpai_daonapa_petampai  chuchat_petaumpai_daonapa_petampai
3584                               safra                       david_j_safra
3657                               safra                        esther_safra
803                         hari_bhartia                        hari_bhartia
2076                        hari_bhartia                        hari_bhartia
3875               willi_isolde_liebherr                     isolde_liebherr
1224                kuldip_singh_dhingra                kuldip_singh_dhingra
1223                kuldip_singh_dhingra                kuldip_singh_dhingra
5574                                kwee                                kwee
4034                                kwee                     kwee_liong_keng
4036                                kwee                     kwee_liong_seen
4037                                kwee                      kwee_liong_tek
3114             lee_yeow_chor_yeow_seng             lee_yeow_chor_yeow_seng
4057             lee_yeow_chor_yeow_seng                       lee_yeow_seng
3232                               safra                               safra
2905                vinod_anil_rai_gupta                vinod_anil_rai_gupta
3300               willi_isolde_liebherr               willi_isolde_liebherr

In [9]:
# 1. convert forbes datapoints to use gm_id
# 1.1 split groups

In [10]:
forbes_dps = pd.read_csv('../intermediate/forbes/ddf--datapoints--annual_income--by--person--year.csv')

In [11]:
forbes_dps

                    person  year  annual_income
0           a_jayson_adair  2021     30000000.0
1           a_jayson_adair  2022     33000000.0
2      a_jerrold_perenchio  2002     78000000.0
3      a_jerrold_perenchio  2003     69000000.0
4      a_jerrold_perenchio  2004     81000000.0
...                    ...   ...            ...
28720   zygmunt_solorz_zak  2018     84000000.0
28721   zygmunt_solorz_zak  2019     81000000.0
28722   zygmunt_solorz_zak  2020     72000000.0
28723   zygmunt_solorz_zak  2021     96000000.0
28724   zygmunt_solorz_zak  2022     87000000.0

[28725 rows x 3 columns]

In [12]:
fb1 = forbes_dps[forbes_dps.person.isin(fm1.forbes_id.unique())].copy()
fb2 = forbes_dps[~forbes_dps.person.isin(fm1.forbes_id.unique())].copy()

In [13]:
forbes_dps.shape

(28725, 3)

In [14]:
fb1.shape[0] + fb2.shape[0]

28725

In [15]:
fm1g = fm1.groupby('forbes_id')['gm_id']

In [16]:
fb1g = fb1.groupby('person')

In [17]:
fb1g.get_group('lee_yeow_chor_yeow_seng')

KeyError: 'lee_yeow_chor_yeow_seng'

In [18]:
def create_rec(df, names):
    recs = list()
    ser = df.set_index('year')['annual_income']
    num = len(names)
    
    for y in ser.index:
        income = int(ser.loc[y] / num)
        for n in names:
            rec = dict(person=n, year=y, annual_income=income)
            recs.append(rec)
    return pd.DataFrame.from_records(recs)

In [19]:
fm1g.get_group('lee_yeow_chor_yeow_seng').values

array(['lee_yeow_seng', 'lee_yeow_chor_yeow_seng'], dtype=object)

In [20]:
fb3dfs = list()

for g, df in fb1g:
    new_df = create_rec(df, fm1g.get_group(g).values)
    fb3dfs.append(new_df)

In [21]:
fb3 = pd.concat(fb3dfs, ignore_index=True)

In [22]:
fb3

                    person  year  annual_income
0             chen_wen_chi  2006       31500000
1                cher_wang  2006       31500000
2             chen_wen_chi  2010       30000000
3                cher_wang  2010       30000000
4             chen_wen_chi  2011      102000000
..                     ...   ...            ...
109  willi_isolde_liebherr  2016       75000000
110        isolde_liebherr  2017       72000000
111  willi_isolde_liebherr  2017       72000000
112        isolde_liebherr  2018      106500000
113  willi_isolde_liebherr  2018      106500000

[114 rows x 3 columns]

In [23]:
# 1.2 convert others

In [24]:
np.any(fm2.set_index('forbes_id')['gm_id'].index.duplicated())

False

In [25]:
fb2_map = fm2.set_index('forbes_id')['gm_id'].to_dict()

In [26]:
fb2['person'] = fb2['person'].map(lambda x: fb2_map[x])

KeyError: 'baoguo_zhu_1'

In [27]:
# why there are not existing entries? 
# because data is usnig forbes 2022. Mapping still using forbes 2021

In [28]:
def _f(x):
    if x not in fb2_map:
        # print(x)
        return None
    return fb2_map[x]
fb2['gm_id'] = fb2['person'].map(_f)

In [29]:
fb2

                    person  year  annual_income                gm_id
0           a_jayson_adair  2021     30000000.0       a_jayson_adair
1           a_jayson_adair  2022     33000000.0       a_jayson_adair
2      a_jerrold_perenchio  2002     78000000.0  a_jerrold_perenchio
3      a_jerrold_perenchio  2003     69000000.0  a_jerrold_perenchio
4      a_jerrold_perenchio  2004     81000000.0  a_jerrold_perenchio
...                    ...   ...            ...                  ...
28720   zygmunt_solorz_zak  2018     84000000.0   zygmunt_solorz_zak
28721   zygmunt_solorz_zak  2019     81000000.0   zygmunt_solorz_zak
28722   zygmunt_solorz_zak  2020     72000000.0   zygmunt_solorz_zak
28723   zygmunt_solorz_zak  2021     96000000.0   zygmunt_solorz_zak
28724   zygmunt_solorz_zak  2022     87000000.0   zygmunt_solorz_zak

[28681 rows x 4 columns]

In [30]:
fb2[pd.isnull(fb2.gm_id)]

                                person  year  annual_income gm_id
2497                      baoguo_zhu_1  2022    138000000.0  None
2498                        baokun_bai  2022     57000000.0  None
2600   beatriz_davila_de_santo_domingo  2021    117000000.0  None
2601   beatriz_davila_de_santo_domingo  2022    105000000.0  None
3089                             bo_wu  2022     42000000.0  None
...                                ...   ...            ...   ...
28542                       zhou_bajin  2022    114000000.0  None
28557                      zhou_jian_3  2022     66000000.0  None
28572                        zhou_ping  2020     36000000.0  None
28573                        zhou_ping  2021     33000000.0  None
28631                        zhu_jiman  2015     34500000.0  None

[186 rows x 4 columns]

In [31]:
# drop them for now

In [32]:
fb4 = fb2[['gm_id', 'year', 'annual_income']].copy()
fb4 = fb4.dropna(how='any')
fb4.columns = ['person', 'year', 'annual_income']

In [33]:
fb_final = pd.concat([fb4, fb3], ignore_index=True).sort_values(by=['person', 'year'])

In [34]:
fb_final

                    person  year  annual_income
0           a_jayson_adair  2021     30000000.0
1           a_jayson_adair  2022     33000000.0
2      a_jerrold_perenchio  2002     78000000.0
3      a_jerrold_perenchio  2003     69000000.0
4      a_jerrold_perenchio  2004     81000000.0
...                    ...   ...            ...
28490   zygmunt_solorz_zak  2018     84000000.0
28491   zygmunt_solorz_zak  2019     81000000.0
28492   zygmunt_solorz_zak  2020     72000000.0
28493   zygmunt_solorz_zak  2021     96000000.0
28494   zygmunt_solorz_zak  2022     87000000.0

[28609 rows x 3 columns]

In [35]:
# done for forbes datapoints

In [36]:
# now convert hurun data to use gm_id

In [37]:
hurun_dps = pd.read_csv('../intermediate/hurun/ddf--datapoints--annual_income--by--person--year.csv')

In [38]:
hurun_dps

                         person  year  annual_income
0      abdulla_ahmed_al_ghurair  2017     39000000.0
1      abdulla_ahmed_al_ghurair  2018     39000000.0
2      abdulla_ahmed_al_ghurair  2019     36000000.0
3      abdulla_ahmed_al_ghurair  2020     36000000.0
4      abdulla_ahmed_al_ghurair  2021     36000000.0
...                         ...   ...            ...
17977        zygmunt_solorz_zak  2018     90000000.0
17978        zygmunt_solorz_zak  2019     78000000.0
17979        zygmunt_solorz_zak  2020     84000000.0
17980        zygmunt_solorz_zak  2021     96000000.0
17981        zygmunt_solorz_zak  2022     96000000.0

[17982 rows x 3 columns]

In [39]:
hr = hurun_dps.copy()

In [40]:
hr_map = all_ids[['hurun_id', 'gm_id']].dropna(how='any').set_index('hurun_id')['gm_id'].to_dict()

In [41]:
hr['gm_id'] = hr['person'].map(lambda x: hr_map[x])

KeyError: 'achal_anil_bakeri'

In [42]:
# why again there are missing entries?
# because the this version of mapping doesn't include names in hurun that doesn't have `country` property.

In [43]:
def _f(x):
    if x not in hr_map:
        return None
    return hr_map[x]
hr['gm_id'] = hr['person'].map(_f)

In [44]:
len(hr[pd.isnull(hr.gm_id)]['person'].unique())  # dropped records.

879

In [45]:
len(hr.person.unique())  # total records

5028

In [46]:
hr2 = hr[['gm_id', 'year', 'annual_income']].dropna()

In [47]:
hr2

                              gm_id  year  annual_income
0      abdulla_bin_ahmad_al_ghurair  2017     39000000.0
1      abdulla_bin_ahmad_al_ghurair  2018     39000000.0
2      abdulla_bin_ahmad_al_ghurair  2019     36000000.0
3      abdulla_bin_ahmad_al_ghurair  2020     36000000.0
4      abdulla_bin_ahmad_al_ghurair  2021     36000000.0
...                             ...   ...            ...
17977            zygmunt_solorz_zak  2018     90000000.0
17978            zygmunt_solorz_zak  2019     78000000.0
17979            zygmunt_solorz_zak  2020     84000000.0
17980            zygmunt_solorz_zak  2021     96000000.0
17981            zygmunt_solorz_zak  2022     96000000.0

[16563 rows x 3 columns]

In [48]:
hr2.columns = ['person', 'year', 'annual_income']

In [49]:
# now, concat all values, drop duplicated

In [50]:
d1 = fb_final.copy()
d1['source'] = 'forbes'

d2 = hr2.copy()
d2['source'] = 'hurun'

dps = pd.concat([d1, d2], ignore_index=True)

In [51]:
dps[dps.duplicated(subset=['person', 'year'], keep=False)]

                   person  year  annual_income  source
43     abdulla_al_futtaim  2017    123000000.0  forbes
44     abdulla_al_futtaim  2018     99000000.0  forbes
45     abdulla_al_futtaim  2019     75000000.0  forbes
46     abdulla_al_futtaim  2020     63000000.0  forbes
47     abdulla_al_futtaim  2021     66000000.0  forbes
...                   ...   ...            ...     ...
45167  zygmunt_solorz_zak  2018     90000000.0   hurun
45168  zygmunt_solorz_zak  2019     78000000.0   hurun
45169  zygmunt_solorz_zak  2020     84000000.0   hurun
45170  zygmunt_solorz_zak  2021     96000000.0   hurun
45171  zygmunt_solorz_zak  2022     96000000.0   hurun

[21513 rows x 4 columns]

In [52]:
# let's see how different are they
dpsg = dps.groupby(['person'])

In [53]:
dpsg.get_group('mark_zuckerberg')   ## TODO: seems quite different. maybe check more people

                person  year  annual_income  source
16899  mark_zuckerberg  2008   4.500000e+07  forbes
16900  mark_zuckerberg  2010   1.200000e+08  forbes
16901  mark_zuckerberg  2011   4.050000e+08  forbes
16902  mark_zuckerberg  2012   5.250000e+08  forbes
16903  mark_zuckerberg  2013   3.990000e+08  forbes
16904  mark_zuckerberg  2014   8.550000e+08  forbes
16905  mark_zuckerberg  2015   1.002000e+09  forbes
16906  mark_zuckerberg  2016   1.338000e+09  forbes
16907  mark_zuckerberg  2017   1.680000e+09  forbes
16908  mark_zuckerberg  2018   2.130000e+09  forbes
16909  mark_zuckerberg  2019   1.869000e+09  forbes
16910  mark_zuckerberg  2020   1.641000e+09  forbes
16911  mark_zuckerberg  2021   2.910000e+09  forbes
16912  mark_zuckerberg  2022   2.019000e+09  forbes
38021  mark_zuckerberg  2012   7.800000e+08   hurun
38022  mark_zuckerberg  2013   5.100000e+08   hurun
38023  mark_zuckerberg  2014   9.300000e+08   hurun
38024  mark_zuckerberg  2015   1.320000e+09   hurun
38025  mark_zuckerberg  2016   1.410000e+09   hurun
38026  mark_zuckerberg  2017   1.740000e+09   hurun
38027  mark_zuckerberg  2018   2.370000e+09   hurun
38028  mark_zuckerberg  2019   2.400000e+09   hurun
38029  mark_zuckerberg  2020   2.520000e+09   hurun
38030  mark_zuckerberg  2021   3.030000e+09   hurun
38031  mark_zuckerberg  2022   2.280000e+09   hurun

In [54]:
# But I am going to use Forbes data for these duplicated people for now.

In [55]:
def keep_one_source(df):
    if len(df['source'].unique()) == 2:
        df_new = df[df['source'] == 'forbes'][['person', 'year', 'annual_income']].set_index(['person', 'year'])
    else:
        df_new = df[['person', 'year', 'annual_income']].set_index(['person', 'year'])
    return df_new

In [56]:
keep_one_source(dpsg.get_group('mark_zuckerberg'))

                      annual_income
person          year
mark_zuckerberg 2008   4.500000e+07
                2010   1.200000e+08
                2011   4.050000e+08
                2012   5.250000e+08
                2013   3.990000e+08
                2014   8.550000e+08
                2015   1.002000e+09
                2016   1.338000e+09
                2017   1.680000e+09
                2018   2.130000e+09
                2019   1.869000e+09
                2020   1.641000e+09
                2021   2.910000e+09
                2022   2.019000e+09

In [57]:
dps2 = dpsg.apply(keep_one_source)

In [58]:
dps2

                                              annual_income
person              person              year
a_jayson_adair      a_jayson_adair      2021     30000000.0
                                        2022     33000000.0
a_jerrold_perenchio a_jerrold_perenchio 2002     78000000.0
                                        2003     69000000.0
                                        2004     81000000.0
...                                                     ...
zygmunt_solorz_zak  zygmunt_solorz_zak  2018     84000000.0
                                        2019     81000000.0
                                        2020     72000000.0
                                        2021     96000000.0
                                        2022     87000000.0

[32152 rows x 1 columns]

In [59]:
dps2 = dps2.reset_index(0, drop=True)

In [60]:
dps2

                          annual_income
person              year
a_jayson_adair      2021     30000000.0
                    2022     33000000.0
a_jerrold_perenchio 2002     78000000.0
                    2003     69000000.0
                    2004     81000000.0
...                                 ...
zygmunt_solorz_zak  2018     84000000.0
                    2019     81000000.0
                    2020     72000000.0
                    2021     96000000.0
                    2022     87000000.0

[32152 rows x 1 columns]

In [61]:
dps2['annual_income'] = dps2['annual_income'].astype(int)

In [62]:
dps2 = dps2.reset_index()

In [63]:
dps2.columns = ['person', 'time', 'annual_income']

In [64]:
dps2.to_csv('../../ddf--datapoints--annual_income--by--person--time.csv', index=False)

In [65]:
# now get the daily income 
# FIXME: should start from worth, then annual_income/daily_income

In [66]:
dps3 = dps2.copy()

In [67]:
dps3.columns = ['person', 'time', 'daily_income']

In [68]:
dps3['daily_income'] = (dps3['daily_income'] / 365).astype(int)

In [69]:
dps3.to_csv('../../ddf--datapoints--daily_income--by--person--time.csv', index=False)

In [71]:
# 2. combine the entities

In [72]:
forbes_ent = pd.read_csv('../intermediate/forbes/ddf--entities--person.csv')

In [73]:
hurun_ent = pd.read_csv('../intermediate/hurun/ddf--entities--person.csv')

In [74]:
forbes_ent

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4219,zong_yanmin,Zong Yanmin,China,NaN,NaN,Semiconductor materials,Manufacturing,no-pic,NaN,M,Zong
4220,zugen_ni,Zugen Ni,China,Jiangsu,NaN,appliances,Manufacturing,no-pic,65.0,M,Ni
4221,zuo_hui,Zuo Hui,China,NaN,NaN,real estate services,Real Estate,no-pic,51.0,M,Zuo
4222,zuowen_song,Zuowen Song,China,NaN,NaN,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song
4223,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak

In [75]:
fbent1 = forbes_ent[forbes_ent.person.isin(fm1.forbes_id.unique())].copy()
fbent2 = forbes_ent[~forbes_ent.person.isin(fm1.forbes_id.unique())].copy()

In [76]:
fbent2

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4219,zong_yanmin,Zong Yanmin,China,NaN,NaN,Semiconductor materials,Manufacturing,no-pic,NaN,M,Zong
4220,zugen_ni,Zugen Ni,China,Jiangsu,NaN,appliances,Manufacturing,no-pic,65.0,M,Ni
4221,zuo_hui,Zuo Hui,China,NaN,NaN,real estate services,Real Estate,no-pic,51.0,M,Zuo
4222,zuowen_song,Zuowen Song,China,NaN,NaN,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song
4223,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak

In [77]:
fbent2.columns

Index(['person', 'name', 'country', 'state', 'headquarters', 'source',
       'industry', 'image_uri', 'age', 'gender', 'last_name'],
      dtype='object')

In [78]:
cols_rec = ['country', 'state', 'headquarters', 'source', 'industry', 'last_name']

In [79]:
def create_entrec():
    res = []
    
    for _, row in fbent1.iterrows():
        name = row['person']
        newnames = fm1g.get_group(name)
        rec = dict([(c, row[c]) for c in cols_rec])
        for n in newnames:
            rec_ = rec.copy()
            rec_['person'] = n
            res.append(rec_)
            
    return pd.DataFrame.from_records(res)

In [80]:
create_entrec()

,country,state,headquarters,source,industry,last_name,person
0,Taiwan,NaN,NaN,technology; electronics; HTC,Technology,Wenchi Chen,chen_wen_chi
1,Taiwan,NaN,NaN,technology; electronics; HTC,Technology,Wenchi Chen,cher_wang
2,Thailand,NaN,NaN,motorcycle loans,Finance & Investments; Finance and Investments,Chuchat Petaumpai &,daonapa_petampai
3,Thailand,NaN,NaN,motorcycle loans,Finance & Investments; Finance and Investments,Chuchat Petaumpai &,chuchat_petaumpai
4,Singapore,NaN,NaN,Real Estate; real estate; Pontiac Land Group,Real Estate,Kwee,kwee_liong_keng
5,Singapore,NaN,NaN,Real Estate; real estate; Pontiac Land Group,Real Estate,Kwee,kwee_liong_seen
6,Singapore,NaN,NaN,Real Estate; real estate; Pontiac Land Group,Real Estate,Kwee,kwee_liong_tek
7,Singapore,NaN,NaN,Real Estate; real estate; Pontiac Land Group,Real Estate,Kwee,kwee
8,Malaysia,NaN,NaN,"palm oil, property",Food & Beverage,Lee,lee_yeow_seng
9,Malaysia,NaN,NaN,"palm oil, property",Food & Beverage,Lee,lee_yeow_chor_yeow_seng
10,Brazil,NaN,NaN,banking,Finance & Investments,Safra,chelia_cohen_safra
11,Brazil,NaN,NaN,banking,Finance & Investments,Safra,david_j_safra
12,Brazil,NaN,NaN,banking,Finance & Investments,Safra,esther_safra
13,Brazil,NaN,NaN,banking,Finance & Investments,Safra,jacob_j_safra
14,Brazil,NaN,NaN,banking,Finance & Investments,Safra,safra
15,Germany,NaN,NaN,software; Software,Technology,Tschira,udo_tschira
16,Germany,NaN,NaN,software; Software,Technology,Tschira,udo_harald_tschira
17,India,NaN,NaN,electrical equipment,Manufacturing,Gupta,anil_rai_gupta
18,India,NaN,NaN,electrical equipment,Manufacturing,Gupta,vinod_anil_rai_gupta
19,Switzerland,NaN,NaN,construction; Construction,Construction & Engineering,Liebherr,isolde_liebherr
20,Switzerland,NaN,NaN,construction; Construction,Construction & Engineering,Liebherr,willi_isolde_liebherr

In [81]:
fbent3 = create_entrec()

In [82]:
fbent4 = fbent2.copy()

In [83]:
len(fm2)

4118

In [84]:
fm2_mapping = fm2.set_index('forbes_id')['gm_id'].to_dict()

In [85]:
def _f(x):
    if x in fm2_mapping:
        return fm2_mapping[x]
    # print(x)
    return None

fbent4['gm_id'] = fbent4['person'].map(_f)

In [86]:
fbent4[pd.isnull(fbent4.gm_id)]

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,gm_id
310,baoguo_zhu_1,Baoguo Zhu & family; Baoguo Zhu,China,Guangdong,NaN,pharmaceuticals,Healthcare,no-pic,59.0,M,Zhu,None
311,baokun_bai,Baokun Bai,China,Guangdong,NaN,hardware,Manufacturing,no-pic,NaN,M,Bai,None
324,beatriz_davila_de_santo_domingo,Beatriz Davila de Santo Domingo,Colombia,NaN,NaN,beer,Food & Beverage,no-pic-female,83.0,F,Davila de Santo Domingo,None
382,bo_wu,Bo Wu,China,Jiangsu,NaN,machinery,Manufacturing,no-pic,67.0,M,Wu,None
506,chaoqun_wu,Chaoqun Wu,China,Sichuan,NaN,chemicals,Manufacturing,no-pic,52.0,M,Wu,None
...,...,...,...,...,...,...,...,...,...,...,...,...
4167,zhong_ruonong,Zhong Ruonong & family; Zhong Ruonong,China,Hunan,NaN,electronics,Manufacturing,no-pic-female,59.0,F,Zhong,None
4173,zhou_bajin,Zhou Bajin,China,Jiangsu,NaN,auto parts,Manufacturing,no-pic,86.0,M,Zhou,None
4178,zhou_jian_3,Zhou Jian,China,NaN,NaN,solar energy equipment,Energy,no-pic,45.0,M,Zhou,None
4183,zhou_ping,Zhou Ping,China,NaN,NaN,utilities,Service,no-pic,59.0,M,Zhou,None
4201,zhu_jiman,Zhu Jiman,China,NaN,NaN,pharmaceuticals,Healthcare,no-pic,57.0,M,Zhu,None

In [87]:
fbent4 = fbent4[~pd.isnull(fbent4.gm_id)]
fbent4 = fbent4.set_index(['gm_id']).drop(columns=['person'])
fbent4.index.name = 'person'
fbent4 = fbent4.reset_index()

In [88]:
fbent4

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4113,zong_yanmin,Zong Yanmin,China,NaN,NaN,Semiconductor materials,Manufacturing,no-pic,NaN,M,Zong
4114,zugen_ni,Zugen Ni,China,Jiangsu,NaN,appliances,Manufacturing,no-pic,65.0,M,Ni
4115,zuo_hui,Zuo Hui,China,NaN,NaN,real estate services,Real Estate,no-pic,51.0,M,Zuo
4116,zuowen_song,Zuowen Song,China,NaN,NaN,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song
4117,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak

In [123]:
fbent_final = pd.concat([fbent4, fbent3], ignore_index=True)

In [90]:
fbent_final

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
4134,udo_harald_tschira,NaN,Germany,NaN,NaN,software; Software,Technology,NaN,NaN,NaN,Tschira
4135,anil_rai_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta
4136,vinod_anil_rai_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta
4137,isolde_liebherr,NaN,Switzerland,NaN,NaN,construction; Construction,Construction & Engineering,NaN,NaN,NaN,Liebherr
4138,willi_isolde_liebherr,NaN,Switzerland,NaN,NaN,construction; Construction,Construction & Engineering,NaN,NaN,NaN,Liebherr

In [91]:
fbent_final[fbent_final.country.str.contains(';')].shape

(54, 11)

In [92]:
fbent_final[fbent_final.country.str.contains(';')]['country'].values

array(['United States; Colombia', 'Kazakhstan; Israel', 'India; Thailand',
       'Germany; United States', 'Czechia; Czech Republic',
       'Lebanon; Saudi Arabia', 'Lebanon; Switzerland', 'Georgia; Russia',
       'China; Canada', 'Hong Kong; China', 'Hong Kong; China',
       'Czechia; Czech Republic', 'Brazil; United States',
       'United States; Russia', 'Switzerland; Germany',
       'Switzerland; Germany', 'United Kingdom; India', 'Macao; Macau',
       'Hong Kong; China', 'Russia; Israel', 'Switzerland; Australia',
       'Singapore; Taiwan', 'United States; Canada', 'Cyprus; Norway',
       'Czechia; Czech Republic', 'China; Hong Kong', 'Singapore; China',
       'Monaco; Brazil', 'United States; China',
       'Czechia; Czech Republic', 'United States; South Korea',
       'Eswatini (Swaziland); Swaziland', 'China; Hong Kong',
       'Ireland; India', 'Kazakhstan; Belgium', 'Czechia; Czech Republic',
       'Czechia; Czech Republic', 'Czech Republic; Czechia',
       'Czechia; Czech Republic', 'Austria; France',
       'Canada; United Kingdom', 'Saudi Arabia; Lebanon',
       'China; Hong Kong', 'Italy; Monaco', 'Cyprus; Greece',
       'India; Cyprus', 'Canada; United Kingdom', 'Ukraine; Russia',
       'Russia; United States', 'Hong Kong; United States',
       'Russia; Germany', 'Hong Kong; China', 'Israel; Russia',
       'China; Hong Kong'], dtype=object)

In [93]:
geo_syns = pd.read_csv('../../../ddf--open_numbers/ddf--synonyms--geo.csv')
geo_map = geo_syns.set_index('synonym')['geo'].to_dict()

In [102]:
geo_map['Eswatini (Swaziland)'] = 'swz'

In [94]:
# TODO: double check those reported with in different countries within etl notebook for forbes

In [95]:
hurun_ent = pd.read_csv('../intermediate/hurun/ddf--entities--person.csv')

In [96]:
hurun_map = all_ids[['hurun_id', 'gm_id']].dropna(how='any').set_index('hurun_id')['gm_id'].to_dict()

In [97]:
hurun_ent

,person,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb
0,abdulla_ahmed_al_ghurair,Abdulla Ahmed Al Ghurair & family;Abdulla Ahme...,NaN,NaN,1955;1956,NaN,NaN,Male,United Arab Emirates-Dubai,Banking,Mashreq Bank,United Arab Emirates,are,1955.0
1,abdulla_al_futtaim,Abdulla Al Futtaim,NaN,NaN,NaN,NaN,NaN,Male,United Arab Emirates-Dubai,Automobiles & Components;Automobiles & Auto Co...,Al Futtaim,United Arab Emirates,are,NaN
2,abdullah_al_rajhi,Abdullah Al Rajhi,NaN,NaN,NaN,NaN,NaN,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking And Investment,Saudi Arabia,sau,NaN
3,abdullah_bin_sulaiman_al_rajhi,Abdullah bin Sulaiman Al Rajhi,1929-01-01,1929.0,NaN,NaN,93.0,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking & Investment;Al Rajhi Banking...,Saudi Arabia,sau,1929.0
4,abdulsamad_rabiu,Abdulsamad Rabiu,1960-08-04,1961.0,1960;1950,NaN,61.0,Male,Nigeria-Lagos,Construction Materials;Multi Brand Retailing;C...,BUA;Bua,Nigeria,nga,1961.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4148,zuo_s,Zuo's,1971-01-01,1971.0,NaN,NaN,51.0,Male,China -Beijing,Real Estate Services,KE,China,chn,1971.0
4149,zuo_xiaoping,Zuo Xiaoping,1973-01-01,1973.0,NaN,NaN,49.0,Female,China-Guangdong-Foshan,Plastic pipes and fittings;Construction Materi...,L&S;Lesso,China,chn,1973.0
4150,zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,1953-01-01,1953.0,1953,NaN,69.0,Male,China-Chongqing,"Motorcycles, Real estate;Motorcycles、 Real est...",Zongshen,China,chn,1953.0
4151,zygi_wilf,Zygi Wilf,1950-04-22,1950.0,1951,NaN,72.0,Male,United States-Millburn,Real Estate;Sports,Garden Homes;Minnesota Vikings,United States,usa,1950.0
4152,zygmunt_solorz_zak,Zygmunt Solorz-Zak,1956-08-04,1957.0,1957,NaN,65.0,Male,Poland-Warsaw,Media;Entertainment,Cyfrowy Polsat,Poland,pol,1957.0

In [98]:
def _f(x):
    if x in hurun_map.keys():
        return hurun_map[x]
    else:
        print(x)
        return np.nan

hurun_ent['gm_id'] = hurun_ent['person'].map(_f)

andrew
astrid_bellon
jose_francisco_jose_calderon_rojas
li_hua_2
xu_xudong_1

In [101]:
# TODO: not sure why above names are not included, double check them.

In [100]:
hurun_ent[hurun_ent.person == 'andrew']

,person,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb,gm_id
161,andrew,Andrew,NaN,NaN,NaN,NaN,NaN,Male,United States-California-Los Angeles,Restaurants;Restaurant;Hospitality,Panda Express,United States,usa,NaN,NaN

In [124]:
def _f(x):
    if pd.isnull(x):
        return x
    else:
        if ';' in x:
            x_ = x.split(';')[0]
            return geo_map[x_]
        else:
            return geo_map[x]

fbent_final['geo'] = fbent_final['country'].map(_f)

In [105]:
fbent_final

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,countries
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,usa
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio,usa
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair,are
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,sau
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,idn
...,...,...,...,...,...,...,...,...,...,...,...,...
4134,udo_harald_tschira,NaN,Germany,NaN,NaN,software; Software,Technology,NaN,NaN,NaN,Tschira,deu
4135,anil_rai_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta,ind
4136,vinod_anil_rai_gupta,NaN,India,NaN,NaN,electrical equipment,Manufacturing,NaN,NaN,NaN,Gupta,ind
4137,isolde_liebherr,NaN,Switzerland,NaN,NaN,construction; Construction,Construction & Engineering,NaN,NaN,NaN,Liebherr,che
4138,willi_isolde_liebherr,NaN,Switzerland,NaN,NaN,construction; Construction,Construction & Engineering,NaN,NaN,NaN,Liebherr,che

In [125]:
forbes_ent_1 = fbent_final.copy()
forbes_ent_1 = forbes_ent_1.dropna(subset=['person'])

In [115]:
hurun_ent_1 = hurun_ent.copy()
hurun_ent_1 = hurun_ent_1.dropna(subset=['gm_id'])

In [116]:
hurun_ent_1 = hurun_ent_1.drop(columns=['person']).set_index('gm_id')
hurun_ent_1.index.name = 'person'
hurun_ent_1 = hurun_ent_1.reset_index()

In [126]:
comb_ent = pd.concat([forbes_ent_1, hurun_ent_1], ignore_index=True)

In [127]:
comb_ent

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
0,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,usa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio,usa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,NaN,NaN,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair,are,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,NaN,NaN,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,sau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abdul_rasyid,Abdul Rasyid,Indonesia,NaN,NaN,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,idn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,zuo_s,Zuo's,China,NaN,NaN,NaN,Real Estate Services,NaN,51.0,NaN,NaN,chn,1971-01-01,1971.0,NaN,NaN,Male,China -Beijing,KE,1971.0
8283,zuo_xiaoping,Zuo Xiaoping,China,NaN,NaN,NaN,Plastic pipes and fittings;Construction Materi...,NaN,49.0,NaN,NaN,chn,1973-01-01,1973.0,NaN,NaN,Female,China-Guangdong-Foshan,L&S;Lesso,1973.0
8284,zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,China,NaN,NaN,NaN,"Motorcycles, Real estate;Motorcycles、 Real est...",NaN,69.0,NaN,NaN,chn,1953-01-01,1953.0,1953,NaN,Male,China-Chongqing,Zongshen,1953.0
8285,zygi_wilf,Zygi Wilf,United States,NaN,NaN,NaN,Real Estate;Sports,NaN,72.0,NaN,NaN,usa,1950-04-22,1950.0,1951,NaN,Male,United States-Millburn,Garden Homes;Minnesota Vikings,1950.0
8286,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,NaN,NaN,NaN,Media;Entertainment,NaN,65.0,NaN,NaN,pol,1956-08-04,1957.0,1957,NaN,Male,Poland-Warsaw,Cyfrowy Polsat,1957.0

In [128]:
gs = comb_ent.groupby('person')

In [129]:
gs.get_group('jeff_bezos')

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
1553,jeff_bezos,Jeff Bezos,United States,Washington,WA,Amazon; Amazon.com,Technology,jeff-bezos,58.0,M,Bezos,usa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617,jeff_bezos,Jeff Bezos,United States,NaN,NaN,NaN,Online Retail;E-Commerce,NaN,58.0,NaN,NaN,usa,1964-01-12,1964.0,1964,1964.0,Male,United States-Washington State-Seattle,Amazon,1964.0

In [130]:
def group_func(df):
    res = dict()
    for c in df.columns:
        if c not in ['wealth', 'ranking', 'year']:
            res[c] = ";".join(set([str(x).strip() for x in df[c].dropna().unique()]))
            
    return pd.Series(res)

In [131]:
group_func(gs.get_group('jeff_bezos'))

person                                           jeff_bezos
name                                             Jeff Bezos
country                                       United States
state                                            Washington
headquarters                                             WA
source                                   Amazon; Amazon.com
industry                Online Retail;E-Commerce;Technology
image_uri                                        jeff-bezos
age                                                    58.0
gender                                                    M
last_name                                             Bezos
geo                                                     usa
birth                                            1964-01-12
birth_1                                              1964.0
birth_2                                                1964
birth_3                                              1964.0
sex                                                    Male
permanent_country    United States-Washington State-Seattle
company                                              Amazon
birth_comb                                           1964.0
dtype: object

In [71]:
# TODO: for now keep all columns.. need to cleanup

In [132]:
res_ent = gs.apply(group_func)

In [133]:
res_ent

,person,name,country,state,headquarters,source,industry,image_uri,age,gender,last_name,geo,birth,birth_1,birth_2,birth_3,sex,permanent_country,company,birth_comb
person,,,,,,,,,,,,,,,,,,,,
a_jayson_adair,a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,52.0,M,Adair,usa,,,,,,,,
a_jerrold_perenchio,a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,91.0,M,Perenchio,usa,,,,,,,,
abdul_aziz_al_ghurair,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,,,banking,Finance,no-pic; abdul-aziz-al-ghurair,67.0,M,Al Ghurair,are,,,,,,,,
abdul_majeed_alhokair,abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,,,"retail, real estate",Fashion & Retail,no-pic,52.0,M,Alhokair,sau,,,,,,,,
abdul_rasyid,abdul_rasyid,Abdul Rasyid,Indonesia,,,"timber, palm oil",Manufacturing,abdul-rasyid,64.0,M,Abdul,idn,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuo_xiaoping,zuo_xiaoping,Zuo Xiaoping,China,,,,Plastic pipes and fittings;Construction Materi...,,49.0,,,chn,1973-01-01,1973.0,,,Female,China-Guangdong-Foshan,L&S;Lesso,1973.0
zuo_zongshen,zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,China,,,,"Motorcycles, Real estate;Motorcycles、 Real est...",,69.0,,,chn,1953-01-01,1953.0,1953,,Male,China-Chongqing,Zongshen,1953.0
zuowen_song,zuowen_song,Zuowen Song,China,,,"aluminum, diversified",Diversified,zuowen-song,75.0,M,Song,chn,,,,,,,,
zygi_wilf,zygi_wilf,Zygi Wilf,United States,,,,Real Estate;Sports,,72.0,,,usa,1950-04-22,1950.0,1951,,Male,United States-Millburn,Garden Homes;Minnesota Vikings,1950.0
zygmunt_solorz_zak,zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,,,TV broadcasting; TV station,Media;Entertainment;Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,65.0,M,Solorz-Zak,pol,1956-08-04,1957.0,1957,,Male,Poland-Warsaw,Cyfrowy Polsat,1957.0

In [134]:
# res_ent = res_ent.drop(columns=['gm_id'])

In [135]:
res_ent = res_ent.drop(columns=['person'])

In [77]:
# res_ent.index.name = 'person'

In [136]:
res_ent['countries'] = res_ent['geo']
res_ent['names'] = res_ent['name']

In [137]:
def _f(x):
    if isinstance(x, str):
        if ';' in x:
            return x.split(';')[0].strip()
    return x

res_ent['name'] = res_ent['names'].map(_f)

In [138]:
res_ent = res_ent.drop(columns=['geo'])

In [144]:
res_ent = res_ent.drop(columns=['country'])

In [145]:
res_ent.to_csv('../../ddf--entities--person.csv')

In [80]:
res_ent.geo.unique()

array(['usa', 'are', 'sau', 'idn', 'nga', 'ind', 'bra', 'hkg', 'isr;usa',
       'rou', 'dnk', 'tur', 'chn', 'gbr', 'rus', 'tha', 'jpn', 'can',
       'fra', 'gbr;che', 'che', 'aus', 'deu', 'bel', 'esp', 'mex', 'per',
       'ita', 'arg', 'kaz', 'nor', 'prt', 'rus;gbr', 'swe', 'nld',
       'rus;che', 'zaf', 'tha;ind', 'chl', 'isr', 'mys', 'mar', 'gbr;bra',
       'twn', 'nor;usa', 'deu;usa', 'cze', 'ury', 'phl', 'ukr', 'gbr;ind',
       'fra;che', 'fin', 'usa;can', 'mco', 'grc;che', 'sgp', 'deu;che',
       'ita;che', 'lbn;sau', 'lbn;che', 'kor', 'kwt;usa', 'swe;che',
       'geo', 'npl', 'aus;usa', 'kor;usa', 'are;ind', 'bhs;aus', 'vnm',
       'hkg;chn', 'col', 'fra;gbr', 'nld;gbr', 'khm;mys', 'twn;usa',
       'twn;chn', 'gbr;deu', 'lie', 'nzl;are', 'mco;cyp', 'rou;usa',
       'che;esp', 'pol', 'mac', 'isl;dnk', 'col;bra', 'chn;usa', 'irl',
       'gbr;usa', 'aut', 'rus;mco', 'lbn', 'sgp;bra', 'mco;bel',
       'mco;isr', 'lbn;fra', 'qat', 'kwt', 'swe;gbr', 'bgr', 'fra;usa',
       'ita;bel', 'nzl', 'chn;can', 'ven', 'tur;usa', 'usa;che', 'brn',
       'aut;deu', 'hkg;aut', 'chn;mac', 'hkg;deu', 'chn;aus', 'blz;chn',
       'ago', 'dza', 'svk', 'kna;chn', 'cze;bel', 'twn;sgp', 'mex;usa',
       'deu;dnk', 'bhs;gbr', 'irl;gbr', 'irl;usa', 'gbr;cyp', 'arg;mex',
       'che;bra', 'gbr;prt', 'hkg;can', 'col;usa', 'nor;nld', 'hkg;jpn',
       'blz;cym', 'sgp;ind', 'gbr;est', 'can;che', 'gbr;isr', 'chn;sgp',
       'gbr;mco', 'hun', 'ita;mco', 'mco;che', 'gtm', 'gbr;can',
       'gbr;dnk', 'sgp;idn', 'pak', 'gbr;aus', 'fra;are', 'kaz;geo',
       'gbr;egy', 'egy', 'omn', 'tza', 'kna;usa', 'phl;cyp', 'swz;gbr',
       'ltu', 'irl;mco', 'ita;arg', 'rus;are', 'swe;bel', 'are;gbr',
       'fra;grc', 'omn;ind', 'usa;ind', 'nld;che', 'phl;ind', 'aut;che',
       'nzl;sgp', 'brb', 'usa;sgp', 'hkg;mys', 'hkg;usa', 'bgd',
       'nzl;jpn', 'gbr;idn', 'gbg;gbr', 'zwe;gbr', 'cyp', 'uga',
       'mys;tha', 'nld;usa', 'sgp;jpn', 'are;tha', 'esp;che', 'isl;gbr',
       'nor;che', 'rus;usa', 'grc', 'grc;bra', 'ukr;gbr', 'hkg;twn',
       'syc;rus'], dtype=object)

In [141]:
res_ent[res_ent.countries.str.contains(';')]['countries'].to_dict()

{'adam_neumann': 'usa;isr',
 'alan_howard': 'che;gbr',
 'alberto_j_safra': 'bra;rus',
 'alexei_kuzmichev': 'rus;gbr',
 'alisher_usmanov': 'che;rus',
 'aloke_lohia': 'tha;ind',
 'andre_esteves': 'bra;gbr',
 'andreas_halvorsen': 'usa;nor',
 'andreas_von_bechtolsheim': 'usa;deu',
 'andrew_currie': 'che;gbr',
 'anil_agarwal': 'ind;gbr',
 'anne_beaufour': 'fra;che',
 'antonio_luiz_seabra': 'bra;gbr',
 'apoorva_mehta': 'usa;can',
 'aristotelis_mistakidis': 'che;grc',
 'august_von_finck': 'che;deu',
 'augusto_giorgio_perfetti': 'che;ita',
 'ayman_hariri': 'lbn;sau',
 'bahaa_hariri': 'che;lbn',
 'bassam_alghanim': 'usa;kwt',
 'benjamin_de_rothschild': 'fra;che',
 'bertil_hult': 'che;swe',
 'blair_parry_okeden': 'usa;aus',
 'bom_kim': 'usa;kor',
 'br_shetty': 'ind;are',
 'brett_blundy': 'bhs;aus',
 'cai_kui': 'hkg;chn',
 'camilla_de_godoy_bueno_grossi': 'bra;gbr',
 'carrie_perrodo': 'fra;gbr',
 'carsten_koerl': 'che;deu',
 'charlene_de_carvalho_heineken': 'gbr;nld',
 'chen_lip_keong': 'khm;mys',
 'chen_tei_fu': 'usa;twn',
 'chen_wen_chi': 'chn;twn',
 'cher_wang': 'chn;twn',
 'chin_jong_hwa': 'chn;twn',
 'cho_jyh_jer': 'chn;twn',
 'christian_angermayer': 'deu;gbr',
 'christoph_henkel': 'deu;gbr',
 'christopher_chandler': 'are;nzl',
 'clelia_haji_ioannou': 'mco;cyp',
 'daniel_dines': 'usa;rou',
 'daniel_mate': 'esp;che',
 'david_cheriton': 'usa;can',
 'david_helgason': 'isl;dnk',
 'david_velez': 'bra;col',
 'deng_hui': 'usa;chn',
 'denis_sverdlov': 'rus;gbr',
 'dennis_gillings': 'usa;gbr',
 'dmitry_bukhman_1': 'rus;gbr',
 'dmitry_rybolovlev': 'mco;rus',
 'douglas_hsu': 'chn;twn',
 'eduardo_saverin': 'bra;sgp',
 'elena_baturina': 'rus;gbr',
 'eric_wittouck': 'mco;bel',
 'eyal_ofer': 'mco;isr',
 'fahed_hariri': 'fra;lbn',
 'feng_chenhui': 'usa;chn',
 'finn_rausing': 'swe;gbr',
 'frederik_paulsen': 'che;swe',
 'garrett_camp': 'usa;can',
 'geeta_gupta_fisker': 'usa;gbr',
 'gennady_timchenko': 'che;rus',
 'gerard_wertheimer_1': 'usa;fra',
 'giovanni_ferrero': 'bel;ita',
 'guillaume_pousaz': 'che;gbr',
 'guo_zhenyu': 'chn;can',
 'gurbachan_singh_dhingra': 'ind;jpn',
 'hamdi_ulukaya': 'usa;tur',
 'hans_rausing': 'swe;gbr',
 'hansjoerg_wyss': 'usa;che',
 'hao_hong': 'usa;chn',
 'harald_tschira': 'deu;rus',
 'helga_kellerhals': 'aut;deu',
 'helmut_sohmen': 'hkg;aut',
 'henri_beaufour': 'fra;gbr',
 'henry_engelhardt': 'usa;gbr',
 'hilton_schlosberg': 'usa;gbr',
 'ho_kuang_chi': 'chn;twn',
 'hoi_kin_hong': 'chn;mac',
 'horst_julius_pudwill': 'hkg;deu',
 'hua_li_1': 'hkg;chn',
 'huang_bingwen': 'chn;aus',
 'huang_chulong': 'chn;can',
 'huang_dawen': 'hkg;chn',
 'huang_jiangji': 'hkg;chn',
 'huang_maoru': 'chn;blz',
 'huang_shih_tsai': 'hkg;chn',
 'huang_yi': 'hkg;chn',
 'huang_zhengcong': 'hkg;chn',
 'hubertus_benteler': 'aut;deu',
 'igor_bukhman': 'rus;gbr',
 'jacky_xu': 'chn;kna',
 'jan_van_geet': 'bel;cze',
 'jason_chang': 'twn;sgp',
 'jeronimo_arango': 'mex;usa',
 'joachim_ante': 'dnk;deu',
 'joe_lewis': 'bhs;gbr',
 'john_armitage': 'irl;gbr',
 'john_collison': 'usa;irl',
 'john_fredriksen': 'cyp;gbr',
 'john_grayken': 'irl;gbr',
 'john_oyler': 'usa;chn',
 'john_reece': 'che;gbr',
 'jonas_kamprad': 'swe;gbr',
 'jorge_horacio_brito': 'mex;arg',
 'jorge_paulo_lemann': 'bra;che',
 'jorn_rausing': 'swe;gbr',
 'jose_neves': 'prt;gbr',
 'joseph_tsai': 'hkg;can',
 'julio_mario_santo_domingo': 'usa;col',
 'katharina_andresen': 'nor;nld',
 'katharina_otto_bernstein': 'usa;deu',
 'kazuo_okada': 'hkg;jpn',
 'kei_perenna': 'hkg;chn',
 'kenneth_dart': 'cym;blz',
 'kieu_hoang': 'usa;chn',
 'kirsten_rausing': 'swe;gbr',
 'klaus_michael_kuehne': 'che;deu',
 'krishna_kumar_bangur': 'ind;sgp',
 'kristo_kaarmann': 'est;gbr',
 'lai_baosheng': 'chn;ind',
 'lam_fong_ngo': 'mac;gbr',
 'laurence_graff': 'che;gbr',
 'lawrence_rossy': 'hkg;can',
 'lawrence_stroll': 'can;che',
 'lee_ho_jin': 'kor;hkg',
 'lee_yeow_chor': 'mys;chn',
 'len_ainsworth': 'hkg;aus',
 'len_buckeridge': 'gbr;aus',
 'leonid_fedun_family': 'usa;rus',
 'lev_leviev': 'isr;gbr',
 'li_jianquan': 'hkg;chn',
 'li_ping_1': 'hkg;chn',
 'li_sze_lim': 'hkg;chn',
 'li_xiting': 'chn;sgp',
 'liang_xinjun': 'chn;sgp',
 'lily_safra': 'mco;gbr',
 'lin_bin': 'usa;chn',
 'lin_chen_hai': 'chn;twn',
 'lin_dingqiang': 'hkg;chn',
 'lin_tianfu': 'hkg;twn',
 'liu_jilu': 'hkg;chn',
 'liu_ming_hui': 'hkg;chn',
 'lo_siu_tong': 'hkg;usa',
 'lou_boliang': 'usa;chn',
 'lun_ruixiang': 'hkg;chn',
 'luo_fei': 'chn;bra',
 'ma_yusuff_ali': 'ind;are',
 'magdalena_martullo_blocher': 'ind;che',
 'maggie_hardy_knox': 'usa;che',
 'mahendra_choksi': 'usa;ind',
 'malone_mitchell': 'usa;ind',
 'maria_franca_fissolo': 'mco;ita',
 'maria_grace_uy': 'esp;phl',
 'maria_pinheiro': 'chl;bra',
 'mario_germano_giuliani': 'mco;che',
 'mark_scheinberg': 'can;gbr',
 'martin_moller_nielsen': 'dnk;gbr',
 'martin_selig': 'usa;chn',
 'martua_sitorus': 'sgp;idn',
 'mathias_kamprad': 'swe;gbr',
 'max_lytvyn': 'usa;can',
 'melih_abdulhayoglu': 'usa;tur',
 'michael_hintze': 'gbr;aus',
 'michael_kim': 'usa;kor',
 'michael_kors': 'usa;bra',
 'michael_mente': 'usa;can',
 'michael_platt': 'che;gbr',
 'michael_strauss': 'isr;deu',
 'michaela_herz': 'hkg;deu',
 'michel_chalhoub': 'fra;are',
 'michele_ferrero': 'ita;deu',
 'michelle_zatlyn': 'usa;can',
 'micky_jagtiani': 'ind;are',
 'mikhail_fridman': 'rus;gbr',
 'miloud_chaabi': 'mar;kaz',
 'mo_tianquan': 'chn;che',
 'mohamed_al_fayed': 'egy;gbr',
 'mohammed_al_issa': 'ind;sau',
 'moise_safra': 'bra;sau',
 'myron_wentz': 'usa;kna',
 'nari_genomal': 'cyp;phl',
 'nathan_kirsh': 'swz;gbr',
 'neal_patterson': 'usa;gbr',
 'nikil_viswanathan_1': 'usa;gbr',
 'nobutoshi_shimamura': 'ind;jpn',
 'nurzhan_subkhanberdin': 'usa;kaz',
 'olav_thon': 'usa;nor',
 'oleg_boyko': 'che;rus',
 'olivier_pomel': 'usa;fra',
 'otto_happel': 'che;deu',
 'pamela_mars': 'usa;mco',
 'pan_dong_1': 'usa;can',
 'pantas_sutardja': 'usa;hkg',
 'park_kwan_ho': 'kor;arg',
 'patrick_collison': 'usa;irl',
 'patrick_drahi': 'fra;che',
 'pavel_durov': 'rus;are',
 'pedro_franceschi': 'bra;ind',
 'pete_bodharamik': 'usa;tha',
 'peter_jackson': 'usa;nzl',
 'peter_kamprad': 'bel;swe',
 'peter_szulczewski': 'usa;can',
 'petro_poroshenko': 'hkg;ukr',
 'philip_day': 'gbr;are',
 'philip_falcone': 'usa;mco',
 'philip_niarchos': 'fra;grc',
 'philippe_foriel_destezet': 'fra;gbr',
 'piero_solari_donaggio': 'chl;ita',
 'pierre_castel': 'fra;che',
 'pierre_chen': 'chl;twn',
 'pierre_papillaud': 'fra;twn',
 'pnc_menon': 'ind;omn',
 'polys_haji_ioannou': 'mco;cyp',
 'pongsak_viddayakorn': 'hkg;tha',
 'prince_alwaleed_bin_talal_alsaud': 'ind;sau',
 'pu_shulin': 'chn;sau',
 'pv_ramprasad_reddy': 'usa;ind',
 'pyotr_kondrashev': 'ind;rus',
 'rafael_del_pino_1': 'esp;ind',
 'raghuvinder_kataria': 'gbr;are',
 'raj_kumar_kishin_rk': 'esp;sgp',
 'rajendra_agarwal_1': 'ind;sgp',
 'ralph_sonnenberg': 'che;nld',
 'ramesh_genomal': 'ind;phl',
 'ramzi_musallam': 'usa;ind',
 'rao_wei': 'usa;chn',
 'ravi_pillai': 'ind;are',
 'reinold_geiger': 'aut;che',
 'richard_chandler': 'sgp;nzl',
 'richard_chilton_jr': 'usa;chn',
 'richard_warke': 'twn;can',
 'robert_agostinelli': 'usa;tha',
 'robert_friedland': 'usa;sgp',
 'robert_g_miller': 'usa;can',
 'robert_kuok': 'hkg;mys',
 'robert_mouawad': 'can;lbn',
 'roberta_anamaria_civita': 'usa;bra',
 'robyn_jones': 'usa;chn',
 'rolf_gerling': 'che;deu',
 'roman_abramovich': 'rus;gbr',
 'ron_burkle': 'usa;gbr',
 'ruan_liping': 'hkg;chn',
 'ruan_xueping': 'hkg;chn',
 'saad_hariri': 'lbn;sau',
 'saket_burman': 'gbr;are',
 'sam_bankman_fried': 'usa;hkg',
 'sami_mnaymneh': 'usa;ind',
 'sandeep_engineer': 'twn;ind',
 'sanford_diller': 'usa;ind',
 'sarik_tara': 'ind;tur',
 'scott_nuttall': 'usa;chn',
 'serge_dassault': 'fra;ind',
 'shamsheer_vayalil': 'ind;are',
 'shay_banon': 'isr;ind',
 'sheela_gautam': 'usa;ind',
 'shi_wen_long': 'chn;twn',
 'shin_dong_guk': 'kor;twn',
 'shirley_kao': 'chn;twn',
 'shu_ping': 'chn;sgp',
 'shyam_bhartia': 'sgp;ind;deu',
 'silvio_scaglia': 'hkg;ita',
 'smita_crishna_godrej': 'chn;ind',
 'soichiro_fukutake': 'jpn;nzl',
 'soichiro_minami': 'ind;jpn',
 'song_chi_hyung': 'kor;dnk',
 'spiro_latsis': 'che;grc',
 'stanley_perron': 'gbr;aus',
 'stefano_pessina': 'mco;ita',
 'stelios_haji_ioannou': 'mco;cyp',
 'stephane_bancel': 'usa;fra',
 'stephen_lansdown': 'gbg;gbr',
 'stewart_butterfield': 'usa;can',
 'strive_masiyiwa': 'zwe;gbr',
 'subba_rao_jasti': 'usa;ind',
 'sukanto_tanoto': 'sgp;idn',
 'sun_deliang': 'chn;ind',
 'sun_hongbin': 'usa;chn',
 'sunil_vaswani': 'gbr;are',
 'sunny_varkey': 'ind;are',
 'surang_prempree': 'tha;ind',
 'surin_upatkoon': 'tha;mys',
 'suzan_sabanci_dincer': 'ind;tur',
 'takao_yasuda': 'sgp;jpn',
 'tetsuro_funai': 'jpn;phl',
 'thaksin_shinawatra': 'tha;are',
 'theo_albrecht': 'twn;deu',
 'thierry_cruanes': 'usa;deu',
 'thomas_barrack': 'usa;idn',
 'thomas_kirk_kristiansen': 'usa;dnk',
 'thomas_lau': 'hkg;dnk',
 'thomas_meyer': 'esp;che',
 'thomas_sandell': 'hkg;swe',
 'thomas_struengmann': 'hkg;deu',
 'thor_bjorgolfsson': 'isl;gbr',
 'timothy_springer': 'usa;deu',
 'todd_wanek': 'usa;can',
 'tony_chen': 'chn;twn',
 'tor_peterson': 'usa;che',
 'torstein_hagen': 'che;nor',
 'traudl_engelhorn': 'che;deu',
 'trevor_milton': 'usa;che',
 'tsai_cheng_ta': 'usa;twn',
 'tsai_chi_jui': 'chn;twn',
 'tse_ping': 'hkg;chn',
 'tung_ching_bor': 'hkg;chn',
 'tung_ching_sai': 'hkg;chn',
 'udo_tschira': 'ind;deu',
 'valentin_bukhtoyarov': 'can;rus',
 'valentin_gapontsev': 'usa;rus',
 'viatcheslav_kantor': 'che;rus',
 'vicky_safra': 'bra;grc',
 'vincent_tan': 'hkg;mys',
 'vlad_tenev': 'usa;ind',
 'vlad_vendrow': 'usa;ind',
 'vlad_yatsenko': 'gbr;ukr',
 'vladimir_gridin': 'usa;rus',
 'vladimir_iorich': 'che;rus',
 'walther_moreira_salles_junior': 'bra;deu',
 'wang_chaobin': 'chn;bra',
 'wang_chou_hsiong': 'chn;twn',
 'wang_wei': 'hkg;chn',
 'wang_wei_3': 'usa;chn',
 'wijono_hermanto_tanoko_1': 'bra;idn',
 'wilbur_ross_jr': 'usa;idn',
 'willi_liebherr': 'usa;che',
 'william_hockey': 'usa;hkg',
 'william_moncrief_jr': 'usa;chn',
 'wong_chiu_yeung': 'hkg;chn',
 'wong_hei': 'usa;chn',
 'wu_chung_yi': 'chn;twn',
 'wu_jianshu': 'hkg;chn',
 'wu_kaiting': 'hkg;chn',
 'wu_li_gann': 'hkg;twn',
 'wu_xu': 'chn;kna',
 'xie_ketao': 'hkg;chn',
 'xie_weitong': 'chn;twn',
 'xiong_xuqiang': 'hkg;chn',
 'xu_hang': 'hkg;chn',
 'yakir_gabay': 'cyp;gbr',
 'ye_chenghai': 'hkg;chn',
 'yoshiaki_yoshida': 'ind;jpn',
 'yu_guo': 'hkg;chn',
 'yu_xuefeng': 'chn;can',
 'yuri_gushchin': 'syc;rus',
 'yuri_milner': 'usa;isr',
 'yuri_shefler': 'che;rus',
 'zach_perret': 'usa;jpn',
 'zhang_anqiang': 'hkg;chn',
 'zhang_congyuan': 'chn;twn',
 'zhang_lei_1': 'hkg;chn',
 'zhang_ning': 'chn;can',
 'zhang_yong_1': 'chn;sgp',
 'zhao_tao': 'chn;sgp',
 'zhou_qunfei': 'hkg;chn',
 'zhu_gongshan': 'hkg;chn',
 'ziyad_manasir': 'chn;rus',
 'ziyavudin_magomedov': 'chn;rus'}