In [1]:
import pandas as pd
import numpy as np

In [2]:
# datapoints
# steps:
# - combine all files from source dir
# - manage person renaming
# - groupby person, interpolate datapoints for missing years

In [3]:
import sys
sys.path.insert(0, '../scripts/')

In [4]:
import etllib

In [5]:
%load_ext autoreload
%autoreload 1
%aimport etllib

In [6]:
%aimport

Modules to reload:
etllib

Modules to skip:

In [7]:
# step 1

res = []

# the data before 2002 have many problems. So we start with 2002
for year in range(2002, 2023):
    df = etllib.get_data_file(year)
    df['year'] = year
    df = df.dropna(subset=['worth'], how='any')
    res.append(df)
    print(year, df.shape)

res = pd.concat(res, ignore_index=True)

2002 (443, 23)
2003 (529, 23)
2004 (532, 23)
2005 (530, 23)
2006 (628, 24)
2007 (760, 24)
2008 (910, 24)
2009 (738, 23)
2010 (1011, 24)
2011 (1209, 24)
2012 (1226, 25)
2013 (1426, 26)
2014 (1645, 26)
2015 (1826, 26)
2016 (1812, 26)
2017 (2043, 26)
2018 (2208, 26)
2019 (2153, 26)
2020 (2095, 25)
2021 (2755, 26)
2022 (2668, 26)

In [8]:
# also need to load alternative files which downloaded at another time.
# use for double checking

res_alt = []

for year in range(2002, 2023):
    df = etllib.get_data_file(year, subdir='forbes2')
    df['year'] = year
    df = df.dropna(subset=['worth'], how='any')
    res_alt.append(df)
    print(year, df.shape)

res_alt = pd.concat(res_alt, ignore_index=True)

2002 (442, 23)
2003 (523, 23)
2004 (529, 23)
2005 (530, 23)
2006 (628, 24)
2007 (761, 24)
2008 (912, 24)
2009 (738, 23)
2010 (1011, 24)
2011 (1209, 24)
2012 (1226, 25)
2013 (1426, 26)
2014 (1645, 26)
2015 (1826, 26)
2016 (1812, 26)
2017 (2043, 26)
2018 (2208, 26)
2019 (2153, 26)
2020 (2095, 25)
2021 (2755, 26)
2022 (2668, 26)

In [9]:
res

,name,lastName,uri,imageUri,worthChange,age,source,industry,gender,country,...,squareImage,position,rank,worth,title,government,year,salary,managementAssets,pay
0,Bill Gates,Gates,bill-gates,bill-gates,566.060,66.0,NaN,Technology,M,United States,...,https://specials-images.forbesimg.com/imageser...,1.0,1.0,52800.0,NaN,NaN,2002,NaN,NaN,NaN
1,Warren Buffett,NaN,warren-buffett,no-pic,413.323,NaN,NaN,Investments,NaN,United States,...,//specials-images.forbesimg.com/imageserve/5ba...,2.0,2.0,35000.0,NaN,NaN,2002,NaN,NaN,NaN
2,Paul Allen,Allen,paul-allen,paul-allen,NaN,69.0,NaN,Technology,M,United States,...,http://specials-images.forbesimg.com/imageserv...,4.0,4.0,25200.0,NaN,NaN,2002,NaN,NaN,NaN
3,Lawrence Ellison,NaN,larry-ellison,no-pic,-1304.262,NaN,NaN,Software,NaN,United States,...,//specials-images.forbesimg.com/imageserve/5e8...,5.0,5.0,23500.0,NaN,NaN,2002,NaN,NaN,NaN
4,Jim Walton,NaN,jim-walton,no-pic,-513.284,NaN,NaN,Retail,NaN,United States,...,//specials-images.forbesimg.com/imageserve/5c7...,6.0,6.0,20800.0,NaN,NaN,2002,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29142,Zhang Yuqiang,Zhang,zhang-yuqiang,no-pic,NaN,66.0,Fiberglass,Manufacturing,M,China,...,NaN,2664.0,2578.0,1000.0,NaN,NaN,2022,NaN,NaN,NaN
29143,Zhou Ruxin,Zhou,zhou-ruxin,no-pic,NaN,59.0,Navigation,Technology,M,China,...,NaN,2665.0,2578.0,1000.0,NaN,NaN,2022,NaN,NaN,NaN
29144,Wen Zhou,Zhou,wen-zhou,no-pic,NaN,57.0,chemicals,Manufacturing,M,China,...,NaN,2666.0,2578.0,1000.0,NaN,NaN,2022,NaN,NaN,NaN
29145,Zhou Yifeng,Zhou,zhou-yifeng,no-pic-female,NaN,43.0,liquefied petroleum gas,Energy,F,China,...,NaN,2667.0,2578.0,1000.0,NaN,NaN,2022,NaN,NaN,NaN
29146,Zhuang Kuilong,Zhuang,zhuang-kuilong,no-pic,NaN,59.0,polyester,Manufacturing,M,China,...,NaN,2668.0,2578.0,1000.0,NaN,NaN,2022,NaN,NaN,NaN

In [10]:
res.columns

Index(['name', 'lastName', 'uri', 'imageUri', 'worthChange', 'age', 'source',
       'industry', 'gender', 'country', 'timestamp', 'headquarters', 'state',
       'realTimeWorth', 'realTimeRank', 'realTimePosition', 'squareImage',
       'position', 'rank', 'worth', 'title', 'government', 'year', 'salary',
       'managementAssets', 'pay'],
      dtype='object')

In [11]:
res['squareImage']

0        https://specials-images.forbesimg.com/imageser...
1        //specials-images.forbesimg.com/imageserve/5ba...
2        http://specials-images.forbesimg.com/imageserv...
3        //specials-images.forbesimg.com/imageserve/5e8...
4        //specials-images.forbesimg.com/imageserve/5c7...
                               ...
29142                                                  NaN
29143                                                  NaN
29144                                                  NaN
29145                                                  NaN
29146                                                  NaN
Name: squareImage, Length: 29147, dtype: object

In [12]:
res[res.uri.str.contains("daniel-yong-zhang")]['uri'].unique()

array(['daniel-yong-zhang-1'], dtype=object)

In [13]:
from ddf_utils.str import to_concept_id

In [14]:
res.columns

Index(['name', 'lastName', 'uri', 'imageUri', 'worthChange', 'age', 'source',
       'industry', 'gender', 'country', 'timestamp', 'headquarters', 'state',
       'realTimeWorth', 'realTimeRank', 'realTimePosition', 'squareImage',
       'position', 'rank', 'worth', 'title', 'government', 'year', 'salary',
       'managementAssets', 'pay'],
      dtype='object')

In [14]:
# assuming the uri value is unique for each person
# we don't use names because they are not consistent.

res['person'] = res['uri'].map(to_concept_id)

In [15]:
# double check if following is true:
# - all data before NaNs are the same
# - pick some one who dropped off the list and come back again, see what the data looks like

In [16]:
res['uri'] = res['uri'].str.strip()
res_alt['uri'] = res_alt['uri'].str.strip()

In [17]:
dps = res[['uri', 'year', 'worth']].copy()
dps_alt = res_alt[['uri', 'year', 'worth']].copy()

In [18]:
dps = dps.set_index(['uri', 'year'])
dps_alt = dps_alt.set_index(['uri', 'year'])

In [19]:
dps.loc['wesley-edens']

       worth
year
2008  1200.0
2020  1000.0
2021  1200.0
2022  3400.0

In [20]:
dps_alt.loc['wesley-edens']

       worth
year
2008  1200.0
2020  1000.0
2021  1200.0
2022  3400.0

In [21]:
dps.loc['mark-zuckerberg']

        worth
year
2008   1500.0
2010   4000.0
2011  13500.0
2012  17500.0
2013  13300.0
2014  28500.0
2015  33400.0
2016  44600.0
2017  56000.0
2018  71000.0
2019  62300.0
2020  54700.0
2021  97000.0
2022  67300.0

In [22]:
dps_alt.loc['mark-zuckerberg']

        worth
year
2008   1500.0
2010   4000.0
2011  13500.0
2012  17500.0
2013  13300.0
2014  28500.0
2015  33400.0
2016  44600.0
2017  56000.0
2018  71000.0
2019  62300.0
2020  54700.0
2021  97000.0
2022  67300.0

In [23]:
dps.shape == dps_alt.shape

False

In [24]:
dps.shape

(29147, 1)

In [25]:
dps_alt.shape

(29140, 1)

In [26]:
# what are the diffs?

In [27]:
dps_1, dps_alt_1 = dps.align(dps_alt)

In [28]:
dps_1.shape == dps_alt_1.shape

True

In [29]:
s1 = set(dps_1[pd.isnull(dps_1.worth)].index.get_level_values(0).unique().values)

In [30]:
s2 = set(dps_alt_1[pd.isnull(dps_alt_1.worth)].index.get_level_values(0).unique().values)

In [31]:
def swapname(x):
    split = x.split('-')
    if len(split) == 2:
        split.reverse()
        return '-'.join(split)
    return None

In [32]:
alt_map_name = dict()

for n in s1:
    swapped = swapname(n)
    if swapped and swapped in s2:
        s2.remove(swapped)
        v = n
        alt_map_name[swapped] = v

In [33]:
len(alt_map_name)

111

In [34]:
len(s1)

159

In [35]:
dps_1.loc['guangwei-liang']

       worth
year
2015     NaN
2016     NaN
2017     NaN
2018     NaN
2019     NaN
2020     NaN
2021     NaN
2022  1400.0

In [36]:
dps_alt_1.loc['guangwei-liang']

       worth
year
2015  1300.0
2016  1300.0
2017  1300.0
2018  1100.0
2019  1200.0
2020  1100.0
2021  1300.0
2022  1400.0

In [37]:
# ok, I believe the above one (guangwei-liang) is how the different comes in
# because the different is 7 years
# while the total different is also 7 years.

In [38]:
gs = dps.groupby(['uri'])['worth']
gs_alt = dps_alt.groupby(['uri'])['worth']

In [39]:
dps_int_res = []

for g, df in gs:
    if g in gs_alt.groups.keys():
        df_ = gs_alt.get_group(g)
        df1, df2 = df.align(df_)
        m = df1 == df2
        dfm1 = df[m].dropna()
        m = dfm1.map(lambda x: x.is_integer())
        dps_int_res.append(dfm1[m])
    else:
        # just drop floats
        m = df.map(lambda x: x.is_integer())
        dps_int_res.append(df[m])

In [40]:
dps_int_res = pd.concat(dps_int_res)

In [41]:
dps_int_res.shape

(28726,)

In [42]:
dps.shape

(29147, 1)

In [43]:
dps_int_res.swaplevel(0, 1).loc[2002].sample(10)

uri
bruno-schroder             1800.0
george-soros               6900.0
jon-huntsman-sr            3800.0
tetsuro-funai              1600.0
donald-newhouse            5000.0
ryoichi-jinnai             1800.0
paul-allen                25200.0
ricardo-salinas-pliego     1600.0
sam-zell                   1800.0
barry-diller               1100.0
Name: worth, dtype: float64

In [220]:
dps_int_res.loc['alice-walton']

year
2002    20500.0
2003    16500.0
2004    20000.0
2005    18000.0
2006    15700.0
2007    16600.0
2008    19000.0
2009    17600.0
2010    20600.0
2011    21200.0
2012    23300.0
2013    26300.0
2014    34300.0
2015    39400.0
2016    32300.0
2017    33800.0
2018    46000.0
2019    44400.0
2020    54400.0
2021    61800.0
2022    65300.0
Name: worth, dtype: float64

In [44]:
# now serve the datapoints
dps_res = dps_int_res.reset_index()
dps_res['person'] = dps_res['uri'].map(to_concept_id)
dps_res = dps_res.set_index(['person', 'year'])['worth']

In [45]:
dps_res.loc[dps_res.index.duplicated()]

person          year
oleg_deripaska  2016    2100.0
Name: worth, dtype: float64

In [46]:
dps_res = dps_res.loc[~dps_res.index.duplicated()]

In [47]:
dps_res

person               year
a_jayson_adair       2021    1000.0
                     2022    1100.0
a_jerrold_perenchio  2002    2600.0
                     2003    2300.0
                     2004    2700.0
                              ...
zygmunt_solorz_zak   2018    2800.0
                     2019    2700.0
                     2020    2400.0
                     2021    3200.0
                     2022    2900.0
Name: worth, Length: 28725, dtype: float64

In [48]:
dps_res.to_csv('../intermediate/forbes/ddf--datapoints--worth--by--person--year.csv')

In [54]:
type(income)

pandas.core.series.Series

In [31]:
# TODO: maybe also add age
# ages = res[['person', 'age']].drop_duplicates().dropna()

In [49]:
# assume average annual return on assets is 3%, calculate the income for all data points
r = 0.03

income = dps_res * r * 1e6

In [50]:
income.name = 'annual_income'

income.to_csv('../intermediate/forbes/ddf--datapoints--annual_income--by--person--year.csv')

In [51]:
# lookup Bezoe

income.loc['jeff_bezos', 2022]

5130000000.0

In [55]:
income.at[('jeff_bezos', 2021)]

5310000000.0

In [56]:
b = income.at['jeff_bezos', 2021]

In [57]:
def get_level(n):
    i = 1
    acc = n / 2
    while acc > 1:
        acc = acc / 4
        i = i + 1
    return i

In [58]:
get_level(b)

17

In [59]:
def test_cal(n):
    return 2 * (4**(n-1))

In [60]:
test_cal(17)

8589934592

In [61]:
print(test_cal(15))
print(b)

536870912
5310000000.0

In [62]:
test_cal(1)

2

In [63]:
test_val = 15
n = get_level(test_val)

print(test_val)
print(n, test_cal(n-1), test_cal(n))

assert test_cal(n-1) <= test_val
assert test_cal(n) >= test_val

15
3 8 32

In [64]:
income_level = income.map(get_level)

In [65]:
income_level.name = "income_level"

In [66]:
income_level.to_csv('../intermediate/forbes/ddf--datapoints--income_level--by--person--year.csv')

In [46]:
# person entity
res.columns

Index(['name', 'lastName', 'uri', 'imageUri', 'worthChange', 'age', 'source',
       'industry', 'gender', 'country', 'timestamp', 'headquarters', 'state',
       'realTimeWorth', 'realTimeRank', 'realTimePosition', 'squareImage',
       'worth', 'position', 'rank', 'year', 'title', 'government', 'salary',
       'managementAssets', 'pay', 'person'],
      dtype='object')

In [47]:
person = res[['person', 'name', 'lastName', 
              'age',  'gender', 'country', 'imageUri', 'squareImage',
              'state', 'headquarters', 'source', 'industry']].copy().set_index('person')

In [48]:
person

,name,lastName,age,gender,country,imageUri,squareImage,state,headquarters,source,industry
person,,,,,,,,,,,
a_jayson_adair,A. Jayson Adair,Adair,52.0,M,United States,no-pic,https://specials-images.forbesimg.com/imageser...,Texas,TX,damaged cars,Automotive
abdulla_al_futtaim,Abdulla Al Futtaim & family,Al Futtaim,NaN,M,United Arab Emirates,abdulla-al-futtaim,//specials-images.forbesimg.com/imageserve/5ab...,NaN,NaN,"auto dealers, investments",Automotive
abdulla_bin_ahmad_al_ghurair,Abdulla bin Ahmad Al Ghurair & family,Al Ghurair,NaN,M,United Arab Emirates,abdulla-bin-ahmad-al-ghurair,//specials-images.forbesimg.com/imageserve/5a9...,NaN,NaN,diversified,Diversified
abdulsamad_rabiu,Abdulsamad Rabiu,Rabiu,61.0,M,Nigeria,abdulsamad-rabiu,https://specials-images.forbesimg.com/imageser...,NaN,NaN,"cement, sugar",Diversified
abhay_firodia,Abhay Firodia,Firodia,77.0,M,India,abhay-firodia,https://specials-images.forbesimg.com/imageser...,NaN,NaN,automobiles,Automotive
...,...,...,...,...,...,...,...,...,...,...,...
zhang_yuqiang,Zhang Yuqiang,Zhang,66.0,M,China,no-pic,NaN,NaN,NaN,Fiberglass,Manufacturing
zhou_ruxin,Zhou Ruxin,Zhou,59.0,M,China,no-pic,NaN,NaN,NaN,Navigation,Technology
wen_zhou,Wen Zhou,Zhou,57.0,M,China,no-pic,NaN,NaN,NaN,chemicals,Manufacturing
zhou_yifeng,Zhou Yifeng,Zhou,43.0,F,China,no-pic-female,NaN,NaN,NaN,liquefied petroleum gas,Energy
zhuang_kuilong,Zhuang Kuilong,Zhuang,59.0,M,China,no-pic,NaN,NaN,NaN,polyester,Manufacturing

In [49]:
person.loc['abhay_firodia']['squareImage'].unique()

array(['https://specials-images.forbesimg.com/imageserve/5d9f59e9793bd50006ea45cd/416x416.jpg?background=000000&cropX1=411&cropX2=707&cropY1=27&cropY2=323'],
      dtype=object)

In [50]:
res[res.uri != res.imageUri].iloc[0]

name                                                  A. Jayson Adair
lastName                                                        Adair
uri                                                    a-jayson-adair
imageUri                                                       no-pic
worthChange                                                   -32.566
age                                                              52.0
source                                                   damaged cars
industry                                                   Automotive
gender                                                              M
country                                                 United States
timestamp                                               1643251502564
headquarters                                                       TX
state                                                           Texas
realTimeWorth                                                 1167.09
realTimeRank                                                   2380.0
realTimePosition                                               2380.0
squareImage         https://specials-images.forbesimg.com/imageser...
worth                                                             NaN
position                                                          NaN
rank                                                              NaN
year                                                             1997
title                                                             NaN
government                                                        NaN
salary                                                            NaN
managementAssets                                                  NaN
pay                                                               NaN
person                                                 a_jayson_adair
Name: 0, dtype: object

In [51]:
def cleanup(s):
    if isinstance(s, str):
        s_new = s.strip()
        if "&#38;" in s_new:
            s_new = s_new.replace("&#38;", '')
        return s_new
    else:
        return s

for c in person.columns:
    person[c] = person[c].map(cleanup)

In [52]:
# merge info

ent1 = person[['name', 'country', 'state', 'headquarters', 'source', 'industry', 'imageUri', 'squareImage']]
ent1 = ent1.groupby('person').apply(etllib.combine_values)

In [53]:
def fixUrl(x):
    if x and x.startswith('//'):
        return 'https:' + x
    return x

ent1['squareImage'] = ent1['squareImage'].map(fixUrl)

In [54]:
ent1

,name,country,state,headquarters,source,industry,imageUri,squareImage
person,,,,,,,,
a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,https://specials-images.forbesimg.com/imageser...
a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,http://specials-images.forbesimg.com/imageserv...
abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,,,banking,Finance,no-pic; abdul-aziz-al-ghurair,
abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,,,"retail, real estate",Fashion & Retail,no-pic,https://specials-images.forbesimg.com/imageser...
abdul_rasyid,Abdul Rasyid,Indonesia,,,"timber, palm oil",Manufacturing,abdul-rasyid,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...
zong_yanmin,Zong Yanmin,China,,,Semiconductor materials,Manufacturing,no-pic,
zugen_ni,Zugen Ni,China,Jiangsu,,appliances,Manufacturing,no-pic,https://specials-images.forbesimg.com/imageser...
zuo_hui,Zuo Hui,China,,,real estate services,Real Estate,no-pic,https://specials-images.forbesimg.com/imageser...
zuowen_song,Zuowen Song,China,,,"aluminum, diversified",Diversified,zuowen-song,https://specials-images.forbesimg.com/imageser...
zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,,,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,https://specials-images.forbesimg.com/imageser...

In [55]:
ent2 = person[['age', 'gender', 'lastName']]

In [56]:
ent2 = ent2.groupby('person').apply(etllib.get_last_value)

In [57]:
ent2

                        age gender    lastName
person
a_jayson_adair         52.0      M       Adair
a_jerrold_perenchio    91.0      M   Perenchio
abdul_aziz_al_ghurair  67.0      M  Al Ghurair
abdul_majeed_alhokair  52.0      M    Alhokair
abdul_rasyid           64.0      M       Abdul
...                     ...    ...         ...
zong_yanmin             NaN      M        Zong
zugen_ni               65.0      M          Ni
zuo_hui                51.0      M         Zuo
zuowen_song            75.0      M        Song
zygmunt_solorz_zak     65.0      M  Solorz-Zak

[4224 rows x 3 columns]

In [58]:
ent = pd.concat([ent1, ent2],  axis=1)

In [59]:
ent

,name,country,state,headquarters,source,industry,imageUri,squareImage,age,gender,lastName
person,,,,,,,,,,,
a_jayson_adair,A. Jayson Adair,United States,Texas,TX,damaged cars,Automotive,no-pic,https://specials-images.forbesimg.com/imageser...,52.0,M,Adair
a_jerrold_perenchio,A. Jerrold Perenchio,United States,California,CA,"Univision; television; television, Univision",Media; Media & Entertainment,no-pic; a-jerrold-perenchio,http://specials-images.forbesimg.com/imageserv...,91.0,M,Perenchio
abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,United Arab Emirates,,,banking,Finance,no-pic; abdul-aziz-al-ghurair,,67.0,M,Al Ghurair
abdul_majeed_alhokair,Abdul Majeed Alhokair,Saudi Arabia,,,"retail, real estate",Fashion & Retail,no-pic,https://specials-images.forbesimg.com/imageser...,52.0,M,Alhokair
abdul_rasyid,Abdul Rasyid,Indonesia,,,"timber, palm oil",Manufacturing,abdul-rasyid,https://specials-images.forbesimg.com/imageser...,64.0,M,Abdul
...,...,...,...,...,...,...,...,...,...,...,...
zong_yanmin,Zong Yanmin,China,,,Semiconductor materials,Manufacturing,no-pic,,NaN,M,Zong
zugen_ni,Zugen Ni,China,Jiangsu,,appliances,Manufacturing,no-pic,https://specials-images.forbesimg.com/imageser...,65.0,M,Ni
zuo_hui,Zuo Hui,China,,,real estate services,Real Estate,no-pic,https://specials-images.forbesimg.com/imageser...,51.0,M,Zuo
zuowen_song,Zuowen Song,China,,,"aluminum, diversified",Diversified,zuowen-song,https://specials-images.forbesimg.com/imageser...,75.0,M,Song
zygmunt_solorz_zak,Zygmunt Solorz-Zak,Poland,,,TV broadcasting; TV station,Media & Entertainment; Media,zygmunt-solorz-zak; no-pic,https://specials-images.forbesimg.com/imageser...,65.0,M,Solorz-Zak

In [60]:
ent.columns = ['name', 'country', 'state', 'headquarters', 'source', 'industry', 'image_uri', 'square_image', 'age',
       'gender', 'last_name']

In [61]:
# MAYBE: 
# create a csv with square_image urls

In [62]:
# don't include image url in entity domain
ent = ent.drop(columns=['square_image'])

In [64]:
ent.to_csv('../../forbes/ddf--entities--person.csv')