In [1]:
import pandas as pd

In [2]:
import requests as req

In [3]:
url = "https://www.forbes.com/ajax/list/data?year=1997&uri=billionaires&type=person"

In [4]:
res = req.get(url)

In [5]:
data = res.json()

In [6]:
data[0]

{'name': 'A. Jayson Adair',
 'lastName': 'Adair',
 'uri': 'a-jayson-adair',
 'imageUri': 'no-pic',
 'worthChange': -32.566,
 'age': 52,
 'source': 'damaged cars',
 'industry': 'Automotive',
 'gender': 'M',
 'country': 'United States',
 'timestamp': 1643251201943,
 'headquarters': 'TX',
 'state': 'Texas',
 'realTimeWorth': 1167.09,
 'realTimeRank': 2380,
 'realTimePosition': 2380,
 'squareImage': 'https://specials-images.forbesimg.com/imageserve/5fb529400560bf6784deea95/416x416.jpg?background=000000&cropX1=887&cropX2=1362&cropY1=707&cropY2=1183'}

In [7]:
df = pd.DataFrame.from_records(data)

In [8]:
df

,name,lastName,uri,imageUri,worthChange,age,source,industry,gender,country,timestamp,headquarters,state,realTimeWorth,realTimeRank,realTimePosition,squareImage,worth,position,rank
0,A. Jayson Adair,Adair,a-jayson-adair,no-pic,-32.566,52.0,damaged cars,Automotive,M,United States,1643251201943,TX,Texas,1167.090,2380.0,2380.0,https://specials-images.forbesimg.com/imageser...,NaN,NaN,NaN
1,Abdulla Al Futtaim & family,Al Futtaim,abdulla-al-futtaim,abdulla-al-futtaim,-4.939,NaN,"auto dealers, investments",Automotive,M,United Arab Emirates,1643251201942,NaN,NaN,2252.027,1424.0,1424.0,//specials-images.forbesimg.com/imageserve/5ab...,NaN,NaN,NaN
2,Abdulla bin Ahmad Al Ghurair & family,Al Ghurair,abdulla-bin-ahmad-al-ghurair,abdulla-bin-ahmad-al-ghurair,0.000,NaN,diversified,Diversified,M,United Arab Emirates,1643251201942,NaN,NaN,3124.442,1005.0,1005.0,//specials-images.forbesimg.com/imageserve/5a9...,NaN,NaN,NaN
3,Abdulsamad Rabiu,Rabiu,abdulsamad-rabiu,abdulsamad-rabiu,-212.219,61.0,"cement, sugar",Diversified,M,Nigeria,1643251201942,NaN,NaN,6812.393,381.0,381.0,https://specials-images.forbesimg.com/imageser...,NaN,NaN,NaN
4,Abhay Firodia,Firodia,abhay-firodia,abhay-firodia,0.000,77.0,automobiles,Automotive,M,India,1643251201942,NaN,NaN,2955.776,1058.0,1058.0,https://specials-images.forbesimg.com/imageser...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2591,Zhou Ruxin,Zhou,zhou-ruxin,no-pic,-40.410,58.0,Navigation,Technology,M,China,1643251201943,NaN,Beijing,NaN,NaN,NaN,NaN,983.999,2585.0,2585.0
2592,Meiguang Zhao,Zhao,meiguang-zhao,no-pic,-99.480,59.0,gold mining,Metals & Mining,M,China,1643251201943,NaN,Jilin,NaN,NaN,NaN,NaN,965.380,2590.0,2590.0
2593,Wang Huiwen,Wang,wang-huiwen-1,no-pic,-68.644,44.0,e-commerce,Technology,M,China,1643251201943,NaN,Liaoning,NaN,NaN,NaN,NaN,957.383,2591.0,2591.0
2594,Xu Ziquan & family,Xu,xu-ziquan,no-pic,-56.836,63.0,software,Technology,M,China,1643251201943,NaN,Beijing,NaN,NaN,NaN,NaN,948.258,2593.0,2593.0
2595,Yu Guo,Yu,yu-guo,no-pic,-393.059,60.0,education,Service,M,China,1643251201943,NaN,Jiangxi,NaN,NaN,NaN,//specials-images.forbesimg.com/imageserve/5c6...,613.976,2594.0,2594.0

In [9]:
url_tmpl = "https://www.forbes.com/ajax/list/data?year={}&uri=billionaires&type=person"

In [15]:
for year in range(1997, 2022):
    print(year)
    fn = f"../source/{year}.csv"
    df = get_data(year)
    df.to_csv(fn, index=False)

1997

1998

1999

2000

2001

2002

2003

2004

2005

2006

2007

2008

2009

2010

2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

In [13]:
def get_data(year):
    res = req.get(url_tmpl.format(year)).json()
    df = pd.DataFrame.from_records(res)
    return df

In [21]:
get_data(1998).iloc[0]

name                                                  A. Jayson Adair
lastName                                                        Adair
uri                                                    a-jayson-adair
imageUri                                                       no-pic
worthChange                                                   -32.566
age                                                              52.0
source                                                   damaged cars
industry                                                   Automotive
gender                                                              M
country                                                 United States
timestamp                                               1643253901890
headquarters                                                       TX
state                                                           Texas
realTimeWorth                                                 1167.09
realTimeRank                                                   2381.0
realTimePosition                                               2381.0
squareImage         https://specials-images.forbesimg.com/imageser...
worth                                                             NaN
position                                                          NaN
rank                                                              NaN
Name: 0, dtype: object

In [22]:
cols = ['name', 'age', 'country', 'realTimeWorth']

In [23]:
def get_data_file(year):
    fn = f"../source/{year}.csv"
    return pd.read_csv(fn)

In [28]:
df = get_data_file(2021)

In [29]:
df.loc[0]

name                                                        Abhay Soi
lastName                                                          Soi
uri                                                         abhay-soi
imageUri                                                       no-pic
worthChange                                                       0.0
age                                                              48.0
source                                                     healthcare
industry                                                   Healthcare
gender                                                              M
country                                                         India
timestamp                                               1643251502564
realTimeWorth                                                1067.196
realTimeRank                                                   2502.0
realTimePosition                                               2502.0
squareImage         https://specials-images.forbesimg.com/imageser...
headquarters                                                      NaN
state                                                             NaN
position                                                          NaN
rank                                                              NaN
worth                                                             NaN
title                                                             NaN
government                                                        NaN
pay                                                               NaN
managementAssets                                                  NaN
salary                                                            NaN
Name: 0, dtype: object

In [31]:
df['realTimeWorth'].dropna()

0       1067.196
1       1760.863
2       1457.710
3       4000.000
4       1283.846
          ...
2896    1299.318
2897    1249.054
2898    1000.000
2899    1045.538
2901    1003.500
Name: realTimeWorth, Length: 2594, dtype: float64

In [33]:
df.set_index('uri')[['realTimeWorth', 'worth']]

                     realTimeWorth   worth
uri
abhay-soi                 1067.196     NaN
adam-foroughi             1760.863     NaN
adam-neumann              1457.710     NaN
alex-shevchenko           4000.000     NaN
anand-deshpande           1283.846     NaN
...                            ...     ...
daniel-yong-zhang-1       1003.500  1000.0
zhang-yuqiang                  NaN  1000.0
zhao-meiguang                  NaN  1000.0
zhong-naixiong                 NaN  1000.0
zhou-wei-1                     NaN  1000.0

[2906 rows x 2 columns]

In [34]:
url_profile_tmpl = "https://www.forbes.com/profile/{}"

In [37]:
pf = url_profile_tmpl.format("abhay-soi")

In [38]:
pf

'https://www.forbes.com/profile/abhay-soi'

In [41]:
pd.read_table("/c/Users/semio/Downloads/wp/Billionaires1996-2014.dta")

FileNotFoundError: [Errno 2] No such file or directory: '/c/Users/semio/Downloads/wp/Billionaires1996-2014.dta'